﻿@{
}
<style type="text/css">
    #mune {
        top: 20%;
        position: relative;
    }

    #mune ul li {
        float: left;
        width: 200px;
    }

</style>
<div style="background: url(/images/index.png) no-repeat;width:100%;height:100%;background-size:100% 100%;-moz-background-size:100% 100%;">
    @*<div id="mune">
        <ul>
            <li>
                <a>项目概况</a>
            </li>
            <li>
                <a>生产管理</a>
            </li>
            <li>
                <a>质量安全管理</a>
            </li>
            <li>
                <a>安全管理</a>
            </li>
            <li>
                <a>BIM模型</a>
            </li>

        </ul>
    </div>*@




</div>


