html,
body,
#app {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "微软雅黑";
	font-size: 12px;
	background-color: rgb(245, 244, 239);
}

::-webkit-scrollbar-thumb {
	background-color: #E0E0E0;
	height: 50px;
	outline-offset: -2px;
	outline: 2px solid #fff;
	-webkit-border-radius: 4px;
	border: 2px solid #fff;
}


/*---鼠标点击滚动条显示样式--*/

::-webkit-scrollbar-thumb:hover {
	background-color: #E7E7E7;
	height: 50px;
	-webkit-border-radius: 4px;
}


/*---滚动条大小--*/

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}


/*---滚动框背景样式--*/

::-webkit-scrollbar-track-piece {
	background-color: #fff;
	-webkit-border-radius: 0;
}

.head-container {
	display: table;
	width: 100%;
	height: 80px;
	background-color: rgb(41, 48, 64);
}

.head-logo,
.head-title,
.head-mapshow,
.head-manager {
	display: table-cell;
	float: left;
	height: 100%;
	line-height: 80px;
}

.head-logo {
	width: 200px;
	text-align: center;
	color: skyblue;
}

.head-logo img {
	vertical-align: middle;
}

.head-title {
	display: flex;
	font-size: 36px;
	font-family: "黑体";
	color: white;
}

.head-manager {
	float: right;
	width: 240px;
}

.head-help,
.head-spline,
.head-user {
	display: inline-block;
	float: left;
	width: calc(50% - 1px);
	text-align: center;
	line-height: 80px;
	vertical-align: middle;
	font-size: 18px;
	color: white;
}

.head-spline {
	width: 2px;
	height: calc(100% - 48px);
	margin-top: 24px;
	background-color: #999999;
}

.head-help img,
.head-user img {
	width: 30px;
	vertical-align: middle;
}

#mapDiv {
	position: absolute;
	left: 0;
	top: 80px;
	right: 0;
	bottom: 0;
	background-color: lightblue;
	z-index: 1;
}

.search-box {
	position: absolute;
	left: 24px;
	top: 104px;
	width: 320px;
	height: 60px;
	box-shadow: 6px 6px 1px #e0e0e0;
	background-color: #f7faff;
	z-index: 2;
}

.search-text {
	display: inline-block;
	float: left;
	margin: 18px 0 18px 12px;
	width: calc(100% - 88px);
	height: calc(100% - 36px);
	padding-right: 12px;
	border-right: 2px solid #E7E7E7;
	line-height: 24px;
	text-align: right;
	font-size: 14px;
	color: #999999;
	cursor: pointer;
}

.search-text img {
	vertical-align: middle;
	width: 16px;
}

.search-btn {
	display: inline-block;
	float: right;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.search-btn img {
	vertical-align: middle;
	width: 24px;
}

.search-list {
	position: absolute;
	left: 24px;
	top: 164px;
	width: 320px;
	background-color: #f6f6f6;
	z-index: 3;
	color: #908f9d;
}

.search-list ul {
	list-style: none;
	padding: 0;
}

.search-list ul li {
	display: table;
	width: 100%;
	line-height: 32px;
	border-bottom: 1px solid #E7E7E7;
	text-align: right;
}

.li-text {
	display: table-cell;
	text-align: right;
}

.li-padding {
	display: table-cell;
	width: 64px;
}

.search-list ul li:hover {
	background-color: #e4eefa;
	cursor: pointer;
}

.menu-box {
	position: absolute;
	left: 24px;
	top: 168px;
	width: 320px;
	height: calc(100% - 200px);
	box-shadow: 3px 3px 1px #e0e0e0;
	background-color: white;
	z-index: 2;
}

.xm-info {
	position: absolute;
	left: 24px;
	top: 168px;
	width: 320px;
	height: calc(100% - 200px);
	box-shadow: 3px 3px 1px #e0e0e0;
	background-color: white;
	z-index: 3;
}

.xm-info-head {
	width: 100%;
	height: auto;
	background-color: #2C70DD;
}

.xm-info-head-title {
	padding: 6px 36px 6px 6px;
	font-size: 16px;
	line-height: 24px;
	color: white;
}

.xm-info-sjh {
	line-height: 18px;
	font-size: 12px;
	color: #E7E7E7;
}

.xm-info-more {
	margin-top: 12px;
}

.xm-info-more span {
	display: inline-block;
	height: 19px;
	border: 1px solid #E7E7E7;
	border-radius: 3px;
	padding: 2px 6px;
	font-size: 12px;
	line-height: 12px;
}

.xm-info-amount {
	width: 100%;
	height: 32px;
	line-height: 32px;
	background-color: white;
	border-bottom: 1px solid #E0E0E0;
}

.xm-info-amount img {
	width: 16px;
	vertical-align: middle;
	margin-left: 6px;
}

.xm-info-image-container {
	margin-top: 3px;
	width: 100%;
	height: 240px;
	text-align: center;
}

.xm-info-image-container .div-row {
	line-height: 24px;
}

.xm-info-image-container p {
	text-align: left;
	margin: 6px;
}

.menu-left {
	display: inline-block;
	float: left;
	width: 60px;
	height: 100%;
	border-right: 1px solid #E0E0E0;
}

.menu-icon {
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
}

.menu-left .active {
	background-color: rgb(44, 112, 221);
}

.menu-icon img {
	vertical-align: middle;
	width: 24px;
}

.menu-right {
	display: inline-block;
	float: left;
	width: calc(100% - 61px);
	height: 100%;
}

.menu-item {
	margin: 6px 6px 0 6px;
	width: calc( 100% - 14px);
	height: 32px;
	line-height: 32px;
	border: 1px solid #E7E7E7;
	font-size: 14px;
	color: rgb(44, 112, 221);
	background-color: white;
	cursor: pointer;
}

.menu-item-active {
	background-color: rgb(228, 238, 250);
}

.menu-item img {
	vertical-align: middle;
	margin-left: 6px;
}

.menu-item-content {
	margin: 0px 6px 6px 6px;
	width: calc(100% - 14px);
	height: auto;
	min-height: 60px;
	border: 1px solid #E7E7E7;
	border-top: 0;
	background-color: rgb(246, 246, 246);
}

.menu-item-content ul {
	background-color: #e6e6e6;
	list-style: none;
}

.menu-item-content ul li {
	line-height: 30px;
	border-bottom: 1px solid #E7E7E7;
	color: #999999;
	height: 30px;
}

.tool-box {
	position: absolute;
	top: 106px;
	right: 24px;
	width: 44px;
	height: calc(44px * 6 + 6px);
	background-color: white;
	z-index: 2;
}

.tool-item {
	width: 44px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	cursor: pointer;
}

.tool-item img {
	width: 24px;
	vertical-align: middle;
}

.tool-item-spline {
	width: 24px;
	margin: auto 10px;
	height: 2px;
	background-color: #E0E0E0;
}

.table-container {
	position: absolute;
	right: 70px;
	top: 94px;
	width: 600px;
	height: 280px;
	background-color: white;
	z-index: 2;
}

.table-head {
	margin: 2px;
	padding-left: 6px;
	width: calc(100% - 10px);
	height: 24px;
	line-height: 24px;
	border-bottom: 1px solid #E7E7E7;
}

.table-body {
	height: 254px;
	overflow-y: auto;
}

.table-container table {
	margin: 6px;
	width: calc(100% - 12px);
	border: 1px solid #E0E0E0;
}

.info-title {
	line-height: 27px;
	border-bottom: 1px solid #E7E7E7;
	margin-right: 6px;
	margin-top: -7px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
}

.info-body {
	display: table;
}

.info-row {
	display: block;
}

.info-cell {
	display: table-cell;
	padding: 3px;
}

.info-label {
	text-align: right;
	font-weight: bold;
	color: #666666;
	min-width: 60px;
}

.info-value {
	color: #999999;
}

.div-table {
	display: table;
	width: 100%;
}

.div-row {
	display: table-row;
	line-height: 20px;
}

.div-cell {
	display: table-cell;
	text-align: left;
	padding-left: 6px;
}

.labels {
	padding-left: 6px;
	width: 68px;
	color: #333333;
}

.circle-text {
	display: block;
	width: 20px;
	height: 20px;
	text-align: center;
	background-color: blue;
	color: white;
	padding-left: 0;
	border-radius: 12px;
	line-height: 20px;
}

.circle-yes {
	display: block;
	width: 20px;
	height: 20px;
	text-align: center;
	background-color: orange;
	color: white;
	padding-left: 0;
	border-radius: 12px;
	line-height: 20px;
}

.xm-info {
	position: absolute;
	left: 24px;
	top: 168px;
	width: calc(320px);
	height: calc(100% - 200px);
	overflow-x: hidden;
	overflow-y: auto;
	box-shadow: 3px 3px 1px #e0e0e0;
	background-color: #E7E7E7;
	z-index: 2;
	padding: 6px;
}

.xm-info-head {
	width: 100%;
	height: auto;
	background-color: #2C70DD;
}

.xm-info-amount {
	width: 100%;
	height: 32px;
	line-height: 32px;
	background-color: white;
	border-bottom: 1px solid #E0E0E0;
}

.xm-info-image-container {
	margin-top: 3px;
	width: 100%;
	height: auto;
	text-align: center;
	margin-bottom: 3px;
	background-color: white;
	padding: 12px 0;
}

.xm-info-image-container p {
	text-align: left;
	margin: 6px;
}

.xm-info-close {
	position: absolute;
	right: 6px;
	top: 6px;
	width: 40px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: rgb(86, 140, 226);
	color: white;
	cursor: pointer;
}

.flow-container {
	width: 100%;
	height: auto;
	margin-top: 3px;
	background-color: white;
}

.flow-head {
	line-height: 32px;
	border-bottom: 1px solid #E7E7E7;
	padding-left: 6px;
}

.flow-body {
	display: table;
	width: calc(100% - 12px);
	line-height: 24px;
	min-height: 48px;
	padding: 6px;
}

.flow-row {
	display: table-row;
	line-height: 24px;
	height: 60px;
	color: orange;
}

.flow-date {
	width: 80px;
}

.flow-state .circle {
	display: block;
	width: 18px;
	height: 18px;
	border-radius: 9px;
	background-color: orange;
	text-align: center;
	vertical-align: middle;
	color: white;
}

.flow-state {
	width: 24px;
	padding-left: 0;
	text-align: center;
	vertical-align: top;
	padding-top: 3px;
	padding-left: 4px;
	background-image: url(../img/line.png);
	background-size: 100%;
}

#echart-container {
	position: absolute;
	top: 380px;
	width: 600px;
	right: 70px;
	height: 240px;
	background-color: white;
	z-index: 2;
}

.report-container {
	position: absolute;
	left: 350px;
	top: 105px;
	right: 70px;
	bottom: 30px;
	background-color: white;
	z-index: 9;
}

.table td {
	text-align: right;
}

.btn-close {
	float: right;
	display: inline-block;
	width: 24px;
	text-align: center;
	cursor: pointer;
}

.btn-close:hover {
	background-color: #00BFFF;
	color: white;
}

.btn-move {
	float: right;
	display: inline-block;
	width: 24px;
	text-align: center;
	cursor: pointer;
}

.btn-move:hover {
	background-color: #00BFFF;
	color: white;
}
.link-tr{
	cursor: pointer;
}

.table caption{
	text-align: center;
	font-weight: bold;
}
