﻿<!DOCTYPE html>
<html>
<head>
    <title></title>


    <link href="~/html/menu/css/lrtk.css" rel="stylesheet" />

    <link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <link href="~/Content/css/framework-ui.css" rel="stylesheet" />
    <script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
    <link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
    <script src="~/Content/js/charts/Chart.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.common.min.js"></script>

</head>
<body>
    <div id="areascontent">
        <div class="rows" style="margin-bottom: 1%; border: 1px solid #e6e6e6; overflow: hidden; padding-left: 1px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-line-chart fa-lg" style="padding-right: 5px;"></i>关键数据实时指标
                    <div style="float: right; position: relative; top: -4px; right: 0px;">
                        <iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=1" width="330" height="35" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="dashboard-stats">
                        <div class="dashboard-stats-item" style="background-color: #fc8675;">
                            <h2 class="m-top-none">3</h2>
                            <h5>待签合同</h5>
                            <div class="stat-icon">
                                <i class="fa fa-user fa-3x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-stats">
                        <div class="dashboard-stats-item" style="background-color: #6bafbd;">
                            <h2 class="m-top-none">18</h2>
                            <h5>待处理签</h5>
                            <div class="stat-icon">
                                <i class="fa fa-hdd-o fa-3x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-stats">
                        <div class="dashboard-stats-item" style="background-color: #f3ce85;">
                            <h2 class="m-top-none">23</h2>
                            <h5>重要待处理事件</h5>
                            <div class="stat-icon">
                                <i class="fa fa-shopping-cart fa-3x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-stats">
                        <div class="dashboard-stats-item" style="background-color: #949FB1;">
                            <h2 class="m-top-none">4</h2>
                            <h5>本月完成项目</h5>
                            <div class="stat-icon">
                                <i class="fa fa-gavel fa-3x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-stats">
                        <div class="dashboard-stats-item" style="background-color: #65cea7; margin-right: 0px;">
                            <h2 class="m-top-none">64</h2>
                            <h5>年度推进项目</h5>
                            <div class="stat-icon">
                                <i class="fa fa-truck fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rows" style="margin-bottom: 1%; overflow: hidden;">
            <div style="float: left; width: 69%;">
                <div style=" border: 1px solid #e6e6e6; background-color: #fff;">
                    <div class="panel panel-default" style="height:100%;width:100%">
                        <div class="panel-heading">
                            <i class="fa fa-area-chart fa-lg" style="padding-right: 5px;"></i>项目资金统计
                            @*<div style="float: right">
                                    <span style="font-weight: 500;"><i class="fa fa-square" style="color: #dcdcdc; font-size: 20px; padding-right: 5px; vertical-align: middle; margin-top: -3px;"></i>计划投资资金</span>
                                    <span style="margin-left: 10px; font-weight: 500;"><i class="fa fa-square" style="color: #97bbcd; font-size: 20px; padding-right: 5px; vertical-align: middle; margin-top: -3px;"></i>实际投资资金</span>
                                </div>*@
                        </div>


                        <div class="panel-body" style="padding-bottom: 0px; width:100%; height:350px;">

                            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                            <div id="main" style="width:100%; height:100%"></div>
                            <script type="text/javascript">
                                // 基于准备好的dom，初始化echarts实例
                                var myChart = echarts.init(document.getElementById('main'));



                                // 指定图表的配置项和数据


                                var option = {
                                    color: ['#bdd8de', '#6bafbd'],
                                    tooltip: {
                                        trigger: 'axis',
                                        formatter: "{b} <br/>{a0} : {c0} 万元<br/>{a1} : {c1} 万元",
                                        axisPointer: {
                                            type: 'cross',
                                            label: {
                                                backgroundColor: '#6a7985'
                                            }

                                        }
                                    },
                                    legend: {
                                        data: ['计划投资资金', '实际投资资金']
                                    },
                                    grid: {
                                        left: '0%',
                                        right: '2%',
                                        bottom: '3%',
                                        containLabel: true
                                    },
                                    xAxis: [
                                        {
                                            type: 'category',
                                            boundaryGap: false,
                                            data: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月']

                                        }
                                    ],
                                    yAxis: [
                                        {
                                            type: 'value',
                                            axisLabel: { formatter: '{value} 万' }

                                        }
                                    ],
                                    series: [
                                        {
                                            name: '计划投资资金',
                                            type: 'line',
                                            stack: '总量',
                                            areaStyle: {},
                                            itemStyle: {
                                                normal: {
                                                    label: {
                                                        show: true,
                                                        textStyle: {
                                                            color: "#000"
                                                        },
                                                        formatter: '{c} 万'
                                                    }
                                                }
                                            },
                                            data: [1200, 1320, 2900, 4134, 5900, 2300, 8000, 6000, 1200, 532, 1201, 2234]
                                        },
                                        {
                                            name: '实际投资资金',
                                            type: 'line',
                                            stack: '总量',
                                            areaStyle: {},
                                            itemStyle: {
                                                normal: {
                                                    label: {
                                                        show: true,
                                                        formatter: '{c} 万'
                                                    }
                                                }
                                            },
                                            data: [1300, 1000, 3000, 4534, 5400, 2000, 8300, 6400, 1200, 592, 1301, 2934]
                                        }
                                    ]
                                };

                                // 使用刚指定的配置项和数据显示图表。
                                myChart.setOption(option);
                            </script>


                        </div>
                    </div>
                </div>
            </div>
            <div style="float: right; width: 30%;">
                <div style="border: 1px solid #e6e6e6; background-color: #fff;">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-pie-chart fa-lg" style="padding-right: 5px;"></i>项目占比</div>
                        <div class="panel-body" style="padding-bottom: 0px; width:100%; height:350px;">


                            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                            <div id="main2" style="width:100%; height:100%"></div>
                            <script type="text/javascript">
                                // 基于准备好的dom，初始化echarts实例
                                var myChart2 = echarts.init(document.getElementById('main2'));
                                var option2 = {
                                    color: ['#F7464A', '#46BFBD', '#FDB45C', '#2F7D6F'],
                                    tooltip: {
                                        trigger: 'item',
                                        formatter: "{a} <br/>{b} : {c} 个项目 ({d}%)"
                                    },
                                    legend: {
                                        orient: 'horizontal',
                                        bottom: 'bottom',
                                        data: ['市政项目', '公建项目', '经营项目', '房建项目']
                                    },
                                    graphic: {
                                        type: 'text',
                                        left: 'center',
                                        top: '40%',
                                        style: {
                                            text: '项目总数64个',
                                            center: ['50%'],
                                            font: 'bolder 16px cursive',
                                            fill: '#000',
                                            width: 30,
                                            height: 30
                                        }
                                    },
                                    series: [
                                        {
                                            name: '项目占比',
                                            type: 'pie',
                                            radius: ['35%', '65%'],
                                            center: ['50%', '40%'],
                                            itemStyle: {
                                                normal: {
                                                    label: {
                                                        show: true,
                                                        position: 'outner',
                                                        formatter: function (params) {
                                                            return params.name + params.value + '个,占' + (params.percent - 0).toFixed(0) + '%'
                                                        }
                                                    },
                                                    labelLine: {
                                                        show: false
                                                    }
                                                }
                                            },
                                            data: [
                                                { value: 6, name: '市政项目' },
                                                { value: 5, name: '公建项目' },
                                                { value: 3, name: '经营项目' },
                                                { value: 9, name: '房建项目' }
                                            ]
                                        }
                                    ]
                                };




                                // 使用刚指定的配置项和数据显示图表。
                                myChart2.setOption(option2);
                            </script>



                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rows" style="overflow: hidden;">
            <div style="float: left; width: 34%; margin-right: 1%;">
                <div style="height: 265px; border: 1px solid #e6e6e6; background-color: #fff;">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-thumbs-o-up fa-lg" style="padding-right: 5px;"></i>最新项目</div>
                        <div class="panel-body">
                            <ul>
                                <li>
                                    <a href="#">
                                        崇左金龙湖提升改造
                                    </a><span class="time">2018-07-21</span>
                                </li>
                                <li>
                                    <a href="#">
                                        龙峡山路延长线工程
                                    </a><span class="time">2018-07-20</span>
                                </li>
                                <li><a href="#">崇左环城北宫扩建工程</a><span class="time">2018-07-17</span></li>
                                <li><a href="#">棚户区B区一期工程</a><span class="time">2018-07-17</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div style="float: left; width: 34%; margin-right: 1%;">
                <div style="height: 265px; border: 1px solid #e6e6e6; background-color: #fff;">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-rss fa-lg" style="padding-right: 5px;"></i>重点项目</div>
                        <div class="panel-body">
                            <ul>
                                <li><a href="#">崇左市体育中心项目</a><span class="time">2018-07-21</span></li>
                                <li><a href="#">崇左市崇左大桥</a><span class="time">2018-07-21</span></li>
                                <li><a href="#">崇左环城北宫扩建工程</a><span class="time">2018-07-21</span></li>
                                <li><a href="#">东盟大道提升工程</a><span class="time">2018-07-21</span></li>
                                <li><a href="#">龙峡山路延长线工程</a><span class="time">2018-07-21</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div style="float: right; width: 30%;">
                <div style="height: 265px; border: 1px solid #e6e6e6; background-color: #fff;">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-send fa-lg" style="padding-right: 5px;"></i>实时信息</div>
                        <div class="panel-body">
                            <ul>
                                <li><a href="#">西江流域左江崇左市城区河段防洪综合治理工程左江沿岸道路工程建议书</a><span class="time">2018-07-02</span></li>
                                <li><a href="#">崇左市友谊大道提升改造工程可行性研究报告</a><span class="time">2018-06-18</span></li>
                                <li><a href="#">崇左市城区路灯提升改造工程设计稿</a><span class="time">2018-06-26</span></li>
                                <li><a href="#">崇左市会展中心（一期）工程设计合同</a><span class="time">2018-04-20</span></li>
                                <li><a href="#">崇左市龙腾湖广场亮化提升工程设计协议</a><span class="time">2018-03-08</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        #copyrightcontent {
            height: 30px;
            line-height: 29px;
            overflow: hidden;
            position: absolute;
            top: 100%;
            margin-top: -30px;
            width: 100%;
            background-color: #fff;
            border: 1px solid #e6e6e6;
            padding-left: 10px;
            padding-right: 10px;
        }

        .dashboard-stats {
            float: left;
            width: 20%;
        }

        .dashboard-stats-item {
            position: relative;
            overflow: hidden;
            color: #fff;
            cursor: pointer;
            height: 105px;
            margin-right: 25px;
            margin-bottom: 10px;
            padding: 20px 20px;
        }

            .dashboard-stats-item .m-top-none {
                margin-top: 2px;
            }

            .dashboard-stats-item h2 {
                font-size: 35px;
                font-family: inherit;
                line-height: 1.1;
                font-weight: 500;
            }

            .dashboard-stats-item h5 {
                font-size: 14px;
                font-family: inherit;
                margin-top: 3px;
                line-height: 1.1;
            }


            .dashboard-stats-item .stat-icon {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 30px;
                opacity: .3;
            }

        .dashboard-stats i.fa.stats-icon {
            width: 50px;
            padding: 20px;
            font-size: 50px;
            text-align: center;
            color: #fff;
            height: 50px;
            border-radius: 10px;
        }

        .panel-default {
            border: none;
            border-radius: 0px;
            margin-bottom: 0px;
            box-shadow: none;
            -webkit-box-shadow: none;
        }

            .panel-default > .panel-heading {
                color: #777;
                background-color: #fff;
                border-color: #e6e6e6;
                padding: 10px 10px;
            }

            .panel-default > .panel-body {
                padding: 10px;
                padding-bottom: 0px;
            }

                .panel-default > .panel-body ul {
                    overflow: hidden;
                    padding: 0;
                    margin: 0px;
                    margin-top: -5px;
                }

                    .panel-default > .panel-body ul li {
                        line-height: 27px;
                        list-style-type: none;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                        .panel-default > .panel-body ul li .time {
                            color: #a1a1a1;
                            float: right;
                            padding-right: 5px;
                        }
    </style>

    @*<div id="leftsead">
            <ul>
                <li><a href="/html/index.html" data-index="1">
                    <img src="~/html/menu/images/ll01.png" width="131" height="49" class="hides" /><img src="~/html/menu/images/l01.png" width="47" height="49" class="shows" /></a></li>


                <li><a href=""><img src="~/html/menu/images/ll04.png" width="131" height="49" class="hides" />
                    <img src="~/html/menu/images/l04.png" width="47" height="49" class="shows" /></a></li>

                <li><a href="http://datav.aliyun.com/share/2cf30ae1dc7c009f15ccc29dc8b3eb29" target="_blank">
                    <img src="~/html/menu/images/ll05.png" width="131" height="49" class="hides" /><img src="~/html/menu/images/l05.png" width="47" height="49" class="shows" /></a></li>
            </ul>
        </div>*@

    @*<script type="text/javascript">
            $(document).ready(function () {

                $("#leftsead a").hover(function () {
                    if ($(this).prop("className") == "youhui") {
                        $(this).children("img.hides").show();
                    } else {
                        $(this).children("img.hides").show();
                        $(this).children("img.shows").hide();
                        $(this).children("img.hides").animate({ marginRight: '0px' }, 'slow');
                    }
                }, function () {
                    if ($(this).prop("className") == "youhui") {
                        $(this).children("img.hides").hide('slow');
                    } else {
                        $(this).children("img.hides").animate({ marginRight: '-143px' }, 'slow', function () { $(this).hide(); $(this).next("img.shows").show(); });
                    }
                });
                $("#top_btn").click(function () { if (scroll == "off") return; $("html,body").animate({ scrollTop: 0 }, 300); });

            });
        </script>*@

    <script type="text/javascript">
        $(window).resize(function () {
            myChart.resize();
            myChart2.resize();
        });
    </script>
</body>
</html>
