﻿<!DOCTYPE html>
<html style="overflow: hidden;">
<head>
    <title>崇左建设项目精细化管理系统平台  FROM http://xmwxgn.com</title>
    <link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/Content/js/bootstrap/bootstrap.js"></script>
    <link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/js/dialog/dialog.js"></script>
    <script src="~/Content/js/cookie/jquery.cookie.js"></script>
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
    <script src="~/Content/js/framework-ui.js"></script>
    <script src="~/Content/js/framework-clientdata.js"></script>
    <style type="text/css">

        #header-navbar .nav > li > a.write {
            padding-top: 14px;
        }

        .buttontop {
            width: 130px;
            text-align: center;
            padding: 0px 30px 0 30px;
            line-height: 30px;
            font-size: 14px;
            font-weight: bold;
        }

            .buttontop a {
                width: 130px;
            }

                .buttontop a i {
                    font-size: 40px;
                    line-height: 40px;
                }

                .buttontop a p {
                    font-size: 14px;
                    line-height: 14px;
                    margin: 4px 0 0 0;
                }

        .header99 {
            background-color: #2F7D6F;
            padding: 8px 15px 12px 16px;
            margin-top: 1px
        }

        #header-navbar .nav > li > a > i.big {
            font-size: 2.8em;
        }
    </style>
</head>

<body style="overflow: hidden;">
    <div id="ajax-loader" style="cursor: progress; position: fixed; top: -50%; left: -50%; width: 200%; height: 200%; background: #fff; z-index: 10000; overflow: hidden;">
        <img src="~/Content/img/ajax-loader.gif" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;" />
    </div>


    <div id="theme-wrapper">
        <header class="navbar" id="header-navbar">
            <div class="container" style="padding-right: 0px;">
                <a href="#" id="logo" class="navbar-brand" style="font-size: 16px;">崇左城建项目精细化管理平台</a>
                <div class="clearfix">
                    <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
                        <ul class="nav navbar-nav pull-left">
                            <li>
                                <a class="btn" id="make-small-nav"><i class="fa fa-bars"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="nav-no-collapse pull-right" id="header-nav">
                        <ul class="nav navbar-nav pull-right" style="color:white;">

                            <li class="buttontop">
                                <a href="#" class="write big">
                                    <i class="fa fa-institution fa-lg big"></i>
                                    <p class="write">项目建设</p>
                                </a>
                            </li>

                            <li class="buttontop">
                                <a href="/onePage/index.html" class="write big" target="_blank">
                                    <i class="fa fa-newspaper-o fa-lg big"></i>
                                    <p>
                                        一张图管理
                                    </p>
                                </a>
                            </li>

                            <li class="buttontop" style="margin-right:20px">
                                <a href="#" class="write big">
                                    <i class="fa fa-group fa-lg big"></i>
                                    <p>
                                        会议系统
                                    </p>
                                </a>
                            </li>
 

                            @*<li class="mobile-search">
            <a class="btn">
                <i class="fa fa-search"></i>
            </a>
            <div class="drowdown-search">
                <form role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <i class="fa fa-search nav-search-icon"></i>
                    </div>
                </form>
            </div>
        </li>*@


                            <li class="dropdown hidden-xs">
                                <a class="btn dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-tasks "></i>
                                    <span class="count">5</span>
                                </a>
                            </li>
                            <li class="dropdown hidden-xs">
                                <a class="btn dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell"></i>
                                    <span class="count">8</span>
                                </a>
                            </li>

                            <li class="dropdown hidden-xs">
                                <a class="btn dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="count">16</span>
                                </a>
                            </li>
                            <li class="dropdown profile-dropdown">
                                <a href="#" class="dropdown" data-toggle="dropdown">
                                    <img src="~/Content/img/samples/scarlet-159.png" alt="" />
                                    <span class="hidden-xs">@ZFine.Code.OperatorProvider.Provider.GetCurrent().UserCode</span>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a class="menuItem" data-id="userInfo" href="/SystemManage/User/Info"><i class="fa fa-user"></i>个人信息</a></li>
                                    <li><a href="javascript:void();"><i class="fa fa-inbox"></i>我的信箱</a></li>
                                    <li><a href="javascript:void();" onclick="layer.msg('浏览器缓存清除成功');"><i class="fa fa-trash-o"></i>清空缓存</a></li>
                                    <li><a href="javascript:void();"><i class="fa fa-paint-brush"></i>皮肤设置</a></li>
                                    <li class="divider"></li>
                                    <li><a href="~/Login/OutLogin"><i class="ace-icon fa fa-power-off"></i>安全退出</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div id="page-wrapper" class="container">
            <div class="row">
                <div id="nav-col">
                    <section id="col-left" class="col-left-nano">
                        <div id="col-left-inner" class="col-left-nano-content">


                            <div id="user-left-box" class="clearfix hidden-sm hidden-xs dropdown profile2-dropdown" style="background-color: #2F7D6F;padding: 8px 15px 12px 16px;">
                                <div class="user-box">
                                    <ul class="nav nav-pills nav-stacked">
                                        <li><span style="font-size: 14px; font-weight: bold;"> <i class="fa fa-institution fa-lg" style="padding-right: 5px;"></i> 城建项目全过程管理</span></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
                                <ul class="nav nav-pills nav-stacked">
                                    <li class="">
                                        <a class="menuItem" data-id="7d39cd75-a2c4-4879-83de-fbdc23346366" href="/build/cehua.html"><i class="fa fa-comments"></i><span>项目策划</span></a>
                                    </li>
                                    <li class=""><a  data-id="a4a78dab-c2d9-4ca1-bcab-fe93fa771f87" href="/build/xiangmuqianqi.html" class="dropdown-toggle menuItem"><i class="fa fa-file-o"></i><span>项目前期</span></a></li>
                                    <li class="">
                                        <a data-id="2c154312-123d-4352-a13a-d92748b74d11" href="/build/xiangmujianshe.html" class="dropdown-toggle menuItem"><i class="fa fa-cube"></i><span>项目建设</span></a>
                                    </li>

                                    <li class="">
                                        <a data-id="afdb8936-4f27-4428-8f68-8e2ace5d7b27" class="dropdown-toggle"><i class="fa fa-check-square"></i><span>验收移交</span><i class="fa fa-angle-right drop-icon"></i></a>
                                        <ul class="submenu" style="display: none; overflow: auto; height: 124px;">
                                        <li>
                                            <a class="menuItem" data-id="b3f5becb-546f-4831-aea9-aedb3b3f4a6f" href="/build/jungongyanshou.html" data-index="1">竣工验收</a></li>
                                        <li><a class="menuItem" data-id="6a95c1d1-5c14-48b5-9de7-8ccdbd072690" href="/build/jungongyanshou.html" data-index="2">资料整理</a></li>
                                        <li><a class="menuItem" data-id="4ac378a2-a982-4427-808f-388d03acdd2e" href="/build/jungongyanshou.html" data-index="3">移交使用</a></li></ul>
                                    </li>

                                    <li class="">
                                        <a data-id="a6c90987-340e-4399-9b51-2f36e6d2a73f" href="#" class="dropdown-toggle"><i class="fa fa-credit-card"></i><span>项目评估</span><i class="fa fa-angle-right drop-icon"></i></a>
                                        <ul class="submenu" style="display: none; overflow: auto; height: 86px;">
                                            <li><a class="menuItem" data-id="cc377ffb-1523-4e38-80f7-a554782e2a53" href="/build/xiangmujianshe_pingguDetail.html" data-index="1">项目年报</a></li>

                                            @*<li><a class="menuItem" data-id="f03c9a32-2981-43b0-bcf3-c24df760c15f" href="null" data-index="2">评估分析</a></li>*@
                                        </ul>
                                    </li>

                                    <li class="">
                                        <a  data-id="35935f18-fe2a-44ab-b832-16f4b3192015" href="/build/xiangmuguidang.html" class="menuItem dropdown-toggle"><i class="fa fa-file-text"></i><span>项目归档</span></a>

                                        @*<ul class="submenu" style="display: none; overflow: auto; height: 86px;"><li><a class="menuItem" data-id="ecf848e5-17c7-4d27-b133-691c3a2fb65b" href="null" data-index="1">资料规范化整理</a></li><li><a class="menuItem" data-id="5abcd44d-0dcf-4107-ac98-e2d00f9b63e8" href="null" data-index="2">编号系统化归档</a></li></ul>*@

                                    </li>
                                </ul>
                            </div>






                        </div>
                    </section>

                </div>
                <div id="content-wrapper">
                    <div class="content-tabs">
                        <button class="roll-nav roll-left tabLeft">
                            <i class="fa fa-backward"></i>
                        </button>
                        <nav class="page-tabs menuTabs">
                            <div class="page-tabs-content" style="margin-left: 0px;">
                                <a href="javascript:;" class="menuTab active" data-id="/Home/Default">欢迎首页</a>
                            </div>
                        </nav>
                        <button class="roll-nav roll-right tabRight">
                            <i class="fa fa-forward" style="margin-left: 3px;"></i>
                        </button>
                        <div class="btn-group roll-nav roll-right">
                            <button class="dropdown tabClose" data-toggle="dropdown">
                                页签操作<i class="fa fa-caret-down" style="padding-left: 3px;"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="tabReload" href="javascript:void();">刷新当前</a></li>
                                <li><a class="tabCloseCurrent" href="javascript:void();">关闭当前</a></li>
                                <li><a class="tabCloseAll" href="javascript:void();">全部关闭</a></li>
                                <li><a class="tabCloseOther" href="javascript:void();">除此之外全部关闭</a></li>
                            </ul>
                        </div>
                        <button class="roll-nav roll-right fullscreen"><i class="fa fa-arrows-alt"></i></button>
                    </div>
                    <div class="content-iframe" style="background-color: #f9f9f9; overflow: hidden;">
                        <div class="mainContent" id="content-main" style="margin: 0px; margin-bottom: 0px; padding: 0;">
                            <iframe class="ZFine_iframe" width="100%" height="100%" src="/Home/Default" frameborder="0" data-id="/Home/Default"></iframe>
                            <iframe class="ZFine_iframe" width="100%" height="100%" src="/Home/About" frameborder="0" data-id="/Home/About"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="loadingPage" style="display: none;">
        <div class="loading-shade"></div>
        <div class="loading-content" onclick="$.loading(false)">数据加载中，请稍后…</div>
    </div>
    <script src="~/Content/js/index.js"></script>
    <script src="~/Content/js/indextab.js"></script>
    <script src="~/Content/js/loading/pace.min.js"></script>
</body>
</html>
