/* 懒人图库 搜集整理 www.lanrentuku.com */
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";background:#ddd;}
#leftsead {
    width: 131px;
    height: 143px;
    position: fixed;
    top: 640px;
    right: 0px;
}
*html #leftsead {
    margin-top: 640px;
    position: absolute;
    top: expression(eval(document.documentElement.scrollTop));
}
#leftsead li{width:131px;height:60px;}
#leftsead li img{float:right;}
#leftsead li a{height:49px;float:right;display:block;min-width:47px;max-width:131px;}
#leftsead li a .shows{display:block;}
#leftsead li a .hides{margin-right:-143px;cursor:pointer;cursor:hand;}
#leftsead li a.youhui .hides{display:none;position:absolute;right:190px;top:2px;}