﻿<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>华蓝设计-项目可视化服务管理平台</title>
		<link rel="stylesheet" type="text/css" href="css/common.css" />
	</head>

	<body>
		<div id="app">
			<div id="mapDiv"></div>
			<table class="head-container" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td style="width: 200px;text-align: center;"><img src="img/logo.png" /></td>
					<td style="font-size: 36px;color: white;">项目可视化服务管理平台</td>
					<td style="line-height: 80px;width: 120px;cursor: pointer;"@click="showMaps" >
						<div v-if="showmap" style="width: 90px;height: 30px;border-radius: 15px;background-color: #646a7a;color: #999999;line-height: 30px;padding-left: 18px;">
							显示
							<div style="display: inline-block;width: 60px;border-radius: 15px;background-color: #2b6fde;float: right;height: 30px;text-align: center;color: white;">
								隐藏
							</div>
						</div>
						<div v-else style="width: 90px;height: 30px;border-radius: 15px;background-color: #646a7a;color: #999999;line-height: 30px;padding-right: 18px;text-align: right;">
							隐藏
							<div style="display: inline-block;width: 60px;border-radius: 15px;background-color: #2b6fde;float: left;height: 30px;text-align: center;color: white;">
								显示
							</div>
						</div>
					</td>
					<td style="width: 72px;font-size: 16px;color: white;line-height: 80px;">项目分布</td>
					<td style="width: 20px;color: white;font-size: 48px;text-align: center;">|</td>
					<td style="width: 100px;font-size: 16px;color: white;line-height: 80px;"><img src="img/help.png"  style="width: 32px;vertical-align: middle;"/> 帮助</td>
					<td style="width: 100px;font-size: 16px;color: white;line-height: 80px;"><img src="img/user.png" style="width: 32px;vertical-align: middle;"/> 个人</td>
				</tr>
			</table>
			<!--<div class="head-container">
				<div class="div-row">
					<div class="head-logo">
						<img src="img/logo.png" />
					</div>
					<div class="head-title">
						项目可视化服务管理平台
					</div>
					<div class="div-cell">
						xx
					</div>
					<div class="head-manager">
						<div class="head-help">
							<img src="img/help.png" /> 帮助
						</div>
						<div class="head-spline">
	
						</div>
						<div class="head-user">
							<img src="img/user.png" /> 个人
						</div>
					</div>					
				</div>
			</div>-->

			<div class="search-box">
				<div class="search-text" @click="showSL">
					<span v-text="zds||'请选择您要查看的目标'"></span>
					<img v-if="show == 'menu'" src="img/arrow-down.png" />
					<img v-else src="img/arrow-up.png" />
				</div>
				<div class="search-btn">
					<img src="img/list.png" />
				</div>
			</div>
			<transition name="fade">
				<div v-if="show == 'search'" class="search-list">
					<ul>
						<li v-for="zds in zdsList" @click="selectAction(zds)">
							<div class="li-text" v-text="zds"></div>
							<div class="li-padding"></div>
						</li>
					</ul>
				</div>
			</transition>
			<transition name="fade">
				<div v-if="show == 'menu'" class="menu-box">
					<div class="menu-left">
						<div class="menu-icon active" @click="showMenu1($event)">
							<img src="img/menu.png" />
						</div>
						<div class="menu-icon" @click="showMenu2($event)">
							<img src="img/search-black.png" />
						</div>
					</div>
					<div class="menu-right">
						<div class="div-table" v-for="m in menuList">
							<div class="menu-item" @click="showMenuDetail($event)">
								<img :src="'img/'+m.icon" width="18" /> {{m.name}}
							</div>
							<div class="menu-item-content" style="display: none;">
								<ul>
									<li v-for="c in m.children"><span :style="'color:'+c.color+';font-size:24px;'">■</span> {{c.name}} </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</transition>
			<transition name="fade">
				<div v-if="show == 'menu2'" class="menu-box">
					<div class="menu-left">
						<div class="menu-icon active" @click="showMenu1($event)">
							<img src="img/menu.png" />
						</div>
						<div class="menu-icon" @click="showMenu2($event)">
							<img src="img/search-black.png" />
						</div>
					</div>
					<div class="menu-right">
						<div class="div-table" v-for="m in menuList">
							<div class="menu-item" @click="showMenuDetail($event)">
								<img :src="'img/'+m.icon" width="18" /> {{m.name}}
							</div>
							<div class="menu-item-content" style="display: none;">
								<ul>
									<li v-for="c in m.children">{{c.name}} </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</transition>
			<!--项目详细信息-->
			<transition name="fade">
				<div v-if="showxm" class="xm-info" @click="hideXmInfo">
					<div class="xm-info-head">
						<div class="xm-info-head-title">
							{{xminfo.htmc||'南宁市轨道交通5号线交通疏解工程和管线迁改工程投标'}}
							<p>设计号：{{xminfo.sjh}}</p>
						</div>
					</div>
					<div class="xm-info-amount">
						合同额：{{xminfo.hte}}￥
					</div>
					<div class="xm-info-image-container">
						<img src="img/holder.png" />
						<div class="div-table">
							<div class="div-row">
								<div class="div-cell label">
									业主单位：
								</div>
								<div class="div-cell">
									{{xminfo.yzdw}}
								</div>
							</div>
							<div class="div-row ">
								<div class="div-cell label">
									现在进度：
								</div>
								<div class="div-cell">
									正在进行中
								</div>
							</div>
						</div>
					</div>
					<div class="xm-info-image-container" style="display: block;">
						<div class="div-table">
							<div class="div-row">
								<div class="div-cell">
									项目推进是否存在问题
								</div>
								<div class="div-cell circle-text">
									否
								</div>
							</div>
							<div class="div-row">
								<div class="div-cell">
									下个月是否有评审计划
								</div>
								<div class="div-cell circle-text">
									是
								</div>
							</div>
							<div class="div-row ">
								<div class="div-cell">
									是否已进行内审
								</div>
								<div class="div-cell circle-text">
									是
								</div>
							</div>
						</div>
					</div>
					<div class="flow-container">
						<div class="flow-head">
							已进行内审阶段
						</div>
						<div class="flow-body">
							<div class="flow-row">
								<div class="div-cell flow-date">
								</div>
								<div class="div-cell flow-state">
									<span class="circle" style="background-color: lightgray;">&radic;</span>
								</div>
								<div class="div-cell" style="color: lightgray;">
									完成
								</div>
							</div>
							<div class="flow-row">
								<div class="div-cell flow-date">
									2018-06-01
								</div>
								<div class="div-cell flow-state">
									<span class="circle">&radic;</span>
								</div>
								<div class="div-cell">
									开工
									<br />大考分仍
								</div>
							</div>
							<div class="flow-row" style="color: green;">
								<div class="div-cell flow-date">
									2018-09-01
								</div>

								<div class="div-cell flow-state">
									<span class="circle" style="background-color: green;">&radic;</span>
								</div>
								<div class="div-cell">
									迁改方案
								</div>
							</div>
							<div class="flow-row">
								<div class="div-cell flow-date">
								</div>

								<div class="div-cell flow-state" style="background-image: none;">
									<span class="circle" style="background-color: green;">&radic;</span>
								</div>
								<div class="div-cell">
								</div>
							</div>
							<div style="clear: both;"></div>
						</div>
					</div>
					<div class="flow-container">
						<div class="flow-head">
							项目近期情况汇报
						</div>
						<p>项目近期情况汇报项目近期情况汇报项目近期情况汇报</p>
					</div>
				</div>
			</transition>
			<div class="tool-box">
				<div class="tool-item">
					<img src="img/earth.png" />
				</div>
				<div class="tool-item-spline">

				</div>
				<div class="tool-item">
					<img src="img/table.png" />
				</div>
				<div class="tool-item-spline">

				</div>
				<div class="tool-item">
					<img src="img/bar-chart.png" />
				</div>
				<div class="tool-item-spline">

				</div>
				<div class="tool-item">
					<img src="img/clock.png" />
				</div>
			</div>

			<div v-if="showTable" class="table-container">
				<div class="table-head">
					数据列表<span style="float: right;display: inline-block;width: 44px;text-align: center;cursor: pointer;" @click="closeTable">x</span>
				</div>
				<div class="table-body">
					<table>
						<tr>
							<th v-for="(th,k) in thList" v-text="th"></th>
						</tr>
						<tr v-for="(tr,k) in trList">
							<td v-text="k+1"></td>
							<td v-text="tr"></td>
							<td v-text="td[tr]"></td>
						</tr>
					</table>
				</div>
			</div>
			<div v-if="showEcharts" id="echart-container">
				<ve-histogram :data="chartData" :height="'240px'" :settings="chartSettings"></ve-histogram>
			</div>
		</div>

		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=AjYb67cw99SjEE9ugzVeU7rV"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
		<script src="//unpkg.com/echarts/dist/echarts.min.js"></script>
		<script src="//unpkg.com/v-charts/lib/index.min.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script type="text/javascript">
			var app = new Vue({
				el: '#app',
				data: {
					message: 'Hello Vue.js!',
					map: null,
					opts: {
						width: 268,
						enableMessage: true
					},
					zdsList: ["城乡规划设计院", "城乡规划所", "交通规划所", "规划研究所", "城市设计所", "区域规划与发展研究所", "规划与城市设计所"],
					show: 'menu',
					zds: '',
					showxm: false,
					menuList:[],
					menuList0: [{
							"icon": "sf.png",
							"name": "收费情况",
							"children": [{
								"color": "#fcfd49",
								"name": "<10万元"
							}, {
								"color": "#f7ea46",
								"name": "<30万元"
							}, {
								"color": "#fdd14a",
								"name": "<50万元"
							}, {
								"color": "#fcbe47",
								"name": "<100万元"
							}, {
								"color": "#faab46",
								"name": "<500万元"
							}, {
								"color": "#fc9149",
								"name": ">1000万元"
							}]
						},
						{
							"icon": "ht.png",
							"name": "合同情况",
							"children": [{
								"color": "#fcfd49",
								"name": "<10万元"
							}, {
								"color": "#f7ea46",
								"name": "<30万元"
							}, {
								"color": "#fdd14a",
								"name": "<50万元"
							}, {
								"color": "#fcbe47",
								"name": "<100万元"
							}, {
								"color": "#faab46",
								"name": "<500万元"
							}, {
								"color": "#fc9149",
								"name": ">1000万元"
							}]
						},
						{
							"icon": "xm.png",
							"name": "项目储备",
							"children": [{
								"color": "#fcfd49",
								"name": "<10万元"
							}, {
								"color": "#f7ea46",
								"name": "<30万元"
							}, {
								"color": "#fdd14a",
								"name": "<50万元"
							}, {
								"color": "#fcbe47",
								"name": "<100万元"
							}, {
								"color": "#faab46",
								"name": "<500万元"
							}, {
								"color": "#fc9149",
								"name": ">1000万元"
							}]
						},
						{
							"icon": "tb.png",
							"name": "投标情况",
							"children": [{
								"color": "#fcfd49",
								"name": "<10万元"
							}, {
								"color": "#f7ea46",
								"name": "<30万元"
							}, {
								"color": "#fdd14a",
								"name": "<50万元"
							}, {
								"color": "#fcbe47",
								"name": "<100万元"
							}, {
								"color": "#faab46",
								"name": "<500万元"
							}, {
								"color": "#fc9149",
								"name": ">1000万元"
							}]
						},
						{
							"icon": "gh.png",
							"name": "规划资料",
							"children": [{
								"color": "#fcfd49",
								"name": "<10万元"
							}, {
								"color": "#f7ea46",
								"name": "<30万元"
							}, {
								"color": "#fdd14a",
								"name": "<50万元"
							}, {
								"color": "#fcbe47",
								"name": "<100万元"
							}, {
								"color": "#faab46",
								"name": "<500万元"
							}, {
								"color": "#fc9149",
								"name": ">1000万元"
							}]
						}
					],
					menuList1:[
						{
							"icon": "tb.png",
							"name": "管理级别",
							"children": [{
								"color": "#fcfd49",
								"name": "集团管"
							}, {
								"color": "#f7ea46",
								"name": "公司管"
							}, {
								"color": "#fdd14a",
								"name": "专业院管"
							}, {
								"color": "#fcbe47",
								"name": "所管"
							}]
						}
					],
					xminfo:{},
					thList:[],
					trList:[],
					td:{},
					showTable :false,
					showEcharts:false,
					showmap:false,
				},
				created: function() {

				},
				mounted: function() {
					this.map = new BMap.Map("mapDiv", {
						enableMapClick: false
					});
					var point = new BMap.Point(108.40769, 22.89945);
					this.map.centerAndZoom(point, 10);
					this.map.enableScrollWheelZoom(true);
					this.map.setMapStyle({
						style: 'grayscale'
					});
					this.map.addEventListener("zoomend", this.showZoom);

					var heatmapOverlay = new BMapLib.HeatmapOverlay({
						"radius": 40
					});
					this.loadXm();
					this.menuList = this.menuList0;
				},
				methods: {
					showSL: function() {
						if(this.show == 'menu') {
							this.show = 'search';
						} else {
							this.show = 'menu';
						}
					},
					selectAction: function(zds) {
						this.zds = zds;
						this.show = 'menu';
					},
					showMenu1: function(e) {
						$(".menu-icon").eq(1).removeClass('active');
						$(".menu-icon").eq(1).html('<img src="img/search-black.png" />');
						$(".menu-icon").eq(0).addClass('active');
						$(".menu-icon").eq(0).html('<img src="img/menu.png" />');
						this.menuList = this.menuList0;
						this.show = 'menu';
					},
					showMenu2: function(e) {
						$(".menu-icon").eq(0).removeClass('active');
						$(".menu-icon").eq(0).html('<img src="img/menu-black.png" />');
						$(".menu-icon").eq(1).addClass('active');
						$(".menu-icon").eq(1).html('<img src="img/search.png" />');
						this.menuList = this.menuList1;
						this.show = 'menu2';
					},
					showMenuDetail: function(e) {
						$(".menu-item-content").hide();
						$(".menu-item").removeClass('menu-item-active');
						var el = e.target;
						$(el).addClass('menu-item-active');
						$(el).next().toggle();
						app.map.clearOverlays();
						axios.get('http://47.92.29.173:3000/sf')
							.then(function(res) {
								if(res.status == 200) {
									var d = [];
									for(var k in res.data.sfList){
										var sf = res.data.sfList[k];
										if(res.data.sfCount[sf] > 100){
											app.getBoundary(res.data.sfList[k],'#fc9149');											
										}else if(res.data.sfCount[sf] > 50){
											app.getBoundary(res.data.sfList[k],'#faab46');											
										}else if(res.data.sfCount[sf] > 40){
											app.getBoundary(res.data.sfList[k],'#fcbe47');											
										}else if(res.data.sfCount[sf] > 30){
											app.getBoundary(res.data.sfList[k],'#fdd14a');											
										}else if(res.data.sfCount[sf] > 20){
											app.getBoundary(res.data.sfList[k],'#f7ea46');											
										}else{
											app.getBoundary(res.data.sfList[k],'#fcfd49');											
										}
										app.map.setZoom(6);
										d.push({
											'省份':sf,
											'数量':res.data.sfSum[sf]
										})
									}
									app.thList = ['序号','省份','数量'];
									app.trList = res.data.sfList;
									app.td = res.data.sfCount;
									app.showTable = true;
									app.showEcharts = true;
									
									app.chartData = {
										height:'240px',
										columns: ['省份','数量'],
										rows: d
									};
									this.chartSettings = {
										yAxisType: ['KMB'],
										yAxisName: ['数值']
									}
								}
							})
							.catch(function(error) {
								console.log(error);
							});
					},
					loadXm: function() {
						axios.get('http://47.92.29.173:3000/xmlist')
							.then(function(res) {
								if(res.status == 200) {
									data = JSON.parse(JSON.stringify(res.data));
									for(var k in res.data) {
										var xm = res.data[k];
										if(xm.point && k < 20) {
											var par = xm.point.split(',');
											var pt = new BMap.Point(par[0], par[1]);
											var myIcon1 = new BMap.Icon("img/point0.png", new BMap.Size(32, 32));
											var myIcon2 = new BMap.Icon("img/point1.png", new BMap.Size(32, 32));
											var marker2;
											if(xm.gljb == '专业院管') {
												marker2 = new BMap.Marker(pt, {
													icon: myIcon1
												}); // 创建标注
											}
											if(xm.gljb == '所管') {
												marker2 = new BMap.Marker(pt, {
													icon: myIcon2
												}); // 创建标注
											}
											marker2.setLabel()
											app.map.addOverlay(marker2);
											var content = '<div data-id="' + xm.id + '">' +
												'<div class="info-title" title="' + xm.htmc + '">' + xm.htmc + '</div>' +
												'<div class="info-body">' +
												'<idv class="info-row">' +
												'<div class="info-cell info-label">管理级别:</div>' +
												'<div class="info-cell info-value" style="width:86px;">' + xm.gljb + '</div>' +
												'<div class="info-cell info-label">设总:</div>' +
												'<div class="info-cell info-value">' + xm.sz + '</div>' +
												'</div>' +
												'<idv class="info-row">' +
												'<div class="info-cell info-label">业主单位:</div>' +
												'<div class="info-cell info-value">' + xm.yzmc + '</div>' +
												'</div>' +
												'<idv class="info-row">' +
												'<div class="info-cell info-label">合同金额:</div>' +
												'<div class="info-cell info-value">￥' + xm.hte + '</div>' +
												'</div>' +
												'</div>' +
												'</div>';
											app.addClickHandler(content,xm, marker2);
										}
									}
								}
							})
							.catch(function(error) {
								console.log(error);
							});
					},
					openInfo: function(content,xm, e) {
						var p = e.target;
						var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
						var infoWindow = new BMap.InfoWindow(content, app.opts); // 创建信息窗口对象 
						this.map.openInfoWindow(infoWindow, point); //开启信息窗口
						this.showXmInfo(xm);
					},
					addClickHandler: function(content,xm, marker) {
						marker.addEventListener("click", function(e) {
							app.openInfo(content,xm, e)
						});
					},
					showZoom: function(e) {
						var level = this.map.getZoom();
						if(level == 8){
							this.showCS();
						}
					},
					getBoundary: function(cs,color) {
						var bdary = new BMap.Boundary();
						bdary.get(cs, function(rs) { //获取行政区域
							//app.map.clearOverlays(); //清除地图覆盖物       
							var count = rs.boundaries.length; //行政区域的点有多少个
							var pointArray = [];
							for(var i = 0; i < count; i++) {
								var ply = new BMap.Polygon(rs.boundaries[i], {
									strokeWeight: 1,
									strokeColor: "#FFFFFF",
									fillColor:color,
								}); //建立多边形覆盖物
								app.map.addOverlay(ply); //添加覆盖物
								pointArray = pointArray.concat(ply.getPath());
							}
							//app.map.setViewport(pointArray); //调整视野  
						});
					},
					showXmInfo:function (xm) {
						this.xminfo = xm;
						this.showxm = true;
					},
					hideXmInfo:function () {
						this.showxm = false;
					},
					showCS:function () {
						axios.get('http://47.92.29.173:3000/cs')
							.then(function(res) {
								if(res.status == 200) {
									for(var k in res.data.csList){
										var cs = res.data.csList[k];
										if(res.data.csCount[cs] > 100){
											app.getBoundary(res.data.csList[k],'#fc9149');											
										}else if(res.data.csCount[cs] > 50){
											app.getBoundary(res.data.csList[k],'#faab46');											
										}else if(res.data.csCount[cs] > 40){
											app.getBoundary(res.data.csList[k],'#fcbe47');											
										}else if(res.data.csCount[cs] > 30){
											app.getBoundary(res.data.csList[k],'#fdd14a');											
										}else if(res.data.csCount[cs] > 20){
											app.getBoundary(res.data.csList[k],'#f7ea46');											
										}else{
											app.getBoundary(res.data.csList[k],'#fcfd49');											
										}
										app.map.setZoom(8);
									}
									app.thList = ['序号','城市','数量'];
									app.trList = res.data.csList;
									app.td = res.data.csCount;
									app.showTable = true;
								}
							})
							.catch(function(error) {
								console.log(error);
							});
					},
					closeTable:function () {
						app.showTable = false;
					},
					showMaps:function () {
						if(this.showmap){
							this.loadXm();
						}else{
							app.map.clearOverlays();				
						}
						this.showmap = !this.showmap;
						app.showTable = false;
						app.showEcharts = false;
					}
				}
			});
		</script>
	</body>

</html>