<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<style type="text/css">
			body,
			html,
			#app,
			#allmap {
				width: 100%;
				height: 100%;
				overflow: hidden;
				margin: 0;
				font-family: "微软雅黑";
			}
			
			#addr {
				position: absolute;
				left: 20px;
				top: 20px;
				width: 400px;
				height: 24px;
				line-height: 24px;
				z-index: 9;
			}
			
			#searchbtn {
				position: absolute;
				left: 430px;
				top: 20px;
				width: 110px;
				height: 30px;
				line-height: 30px;
				z-index: 9;
			}
			
			#result {
				position: absolute;
				left: 20px;
				top: 60px;
				width: 400px;
				height: 24px;
				line-height: 24px;
				background-color: white;
				z-index: 9;
			}
			
			#savebtn {
				position: absolute;
				left: 430px;
				top: 60px;
				width: 110px;
				height: 30px;
				line-height: 30px;
				z-index: 9;
			}
			
			.xmlist {
				position: absolute;
				left: 20px;
				top: 100px;
				width: 520px;
				bottom: 30px;
				background-color: white;
				overflow-y: auto;
				z-index: 9;
			}
			
			.xmlist li {
				cursor: pointer;
			}
			.xmlist li:hover {
				background-color: #87CEEB;
			}
		</style>
		<script src="js/jquery.min.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/echarts.min.js"></script>
		<script src="js/index.min.js"></script>
		<script src="js/axios.min.js"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=AjYb67cw99SjEE9ugzVeU7rV"></script>
		<title>地址解析</title>
	</head>

	<body>
		<div id="app">
			<div id="allmap"></div>
			<input type="text" id="addr" v-model="addr" /> <button id="searchbtn" @click="getPoint">搜索</button>
			<input type="text" id="result" v-model="result" /> <button id="savebtn" @click="savePoint">保存</button>
			<div class="xmlist">
				<ul>
					<li v-for="xm in xmList" v-text="xm.xmmc+'##'+xm.point" @click="searchXmAddr(xm)"></li>
				</ul>
			</div>
		</div>
	</body>

</html>
<script type="text/javascript">
	// 百度地图API功能

	var app = new Vue({
		el: '#app',
		data: {
			map: null,
			addr: "",
			result: "",
			xmList: [],
			xm:null,
		},
		created: function() {

		},
		mounted: function() {
			this.map = new BMap.Map("allmap");
			var point = new BMap.Point(116.331398, 39.897445);
			this.map.centerAndZoom(point, 8);
			this.map.enableScrollWheelZoom(true);
			this.loadXm();
		},
		methods: {
			loadXm: function() {
				axios.get('http://47.92.29.173:3006/ksfxm?point=')
					.then(function(res) {
						if(res.status == 200) {
							app.xmList = JSON.parse(JSON.stringify(res.data));
						}
					})
					.catch(function(error) {
						console.log(error);
					});
			},
			getPoint: function() {
				var myGeo = new BMap.Geocoder();
				// 将地址解析结果显示在地图上,并调整地图视野
				app.map.clearOverlays();
				myGeo.getPoint(this.addr, function(point) {
					if(point) {
						app.map.centerAndZoom(point, 8);
						app.result = point.lng + "," + point.lat;
						app.map.addOverlay(new BMap.Marker(point));
					} else {
						app.result = "";
						alert("您选择地址没有解析到结果!");
					}
				}, "中国");
			},
			searchXmAddr: function(xm) {
				this.addr = xm.xmmc;
				this.xm = xm;
				this.getPoint();
			},
			savePoint: function() {
				console.log(JSON.stringify(this.xm),this.result);
				this.xm.point = this.result;
				axios.put('http://47.92.29.173:3006/ksfxm/'+this.xm.id, this.xm)
					.then(function(response) {
						console.log(response);
					})
					.catch(function(error) {
						console.log(error);
					});
			}
		}
	});
</script>