<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>华蓝设计-项目可视化服务管理平台</title>
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<style type="text/css">
			#mapDiv label {
				max-width: 200px;
			}
		</style>
	</head>

	<body>
		<div id="app">
			<div id="mapDiv"></div>
			<table class="head-container" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td style="width: 200px;text-align: center;"><img src="img/logo.png" /></td>
					<td style="font-size: 36px;color: white;">项目可视化服务管理平台</td>
					<td style="line-height: 80px;width: 120px;cursor: pointer;" @click="showMaps">
						<div v-if="showmap" style="width: 110px;height: 30px;border-radius: 15px;background-color: #646a7a;color: #999999;line-height: 30px;padding-left: 18px;">
							显示
							<div style="display: inline-block;width: 60px;border-radius: 15px;background-color: #2b6fde;float: right;height: 30px;text-align: center;color: white;">
								隐藏
							</div>
						</div>
						<div v-else style="width: 110px;height: 30px;border-radius: 15px;background-color: #646a7a;color: #999999;line-height: 30px;padding-right: 18px;text-align: right;">
							隐藏
							<div style="display: inline-block;width: 60px;border-radius: 15px;background-color: #2b6fde;float: left;height: 30px;text-align: center;color: white;">
								显示
							</div>
						</div>
					</td>
					<td style="width: 72px;font-size: 16px;color: white;line-height: 80px;">项目分布</td>
					<td style="width: 20px;color: white;font-size: 48px;text-align: center;">|</td>
					<td style="width: 100px;font-size: 16px;color: white;line-height: 80px;"><img src="img/help.png" style="width: 32px;vertical-align: middle;" /> 帮助</td>
					<td style="width: 100px;font-size: 16px;color: white;line-height: 80px;"><img src="img/user.png" style="width: 32px;vertical-align: middle;" /> 个人</td>
				</tr>
			</table>
			<!--<div class="head-container">
				<div class="div-row">
					<div class="head-logo">
						<img src="img/logo.png" />
					</div>
					<div class="head-title">
						项目可视化服务管理平台
					</div>
					<div class="div-cell">
						xx
					</div>
					<div class="head-manager">
						<div class="head-help">
							<img src="img/help.png" /> 帮助
						</div>
						<div class="head-spline">
	
						</div>
						<div class="head-user">
							<img src="img/user.png" /> 个人
						</div>
					</div>					
				</div>
			</div>-->

			<div class="search-box">
				<div class="search-text" @click="showSL">
					<span v-text="zds||'请选择您要查看的目标'"></span>
					<img v-if="show == 'menu'" src="img/arrow-down.png" />
					<img v-else src="img/arrow-up.png" />
				</div>
				<div class="search-btn">
					<img src="img/list.png" />
				</div>
			</div>
			<transition name="fade">
				<div v-if="show == 'search'" class="search-list">
					<ul>
						<li v-for="zds in zdsList" @click="selectAction(zds)">
							<div class="li-text" v-text="zds"></div>
							<div class="li-padding"></div>
						</li>
					</ul>
				</div>
			</transition>
			<transition name="fade">
				<div v-if="show == 'menu'" class="menu-box">
					<div class="menu-left">
						<div class="menu-icon active" @click="showMenu1($event)">
							<img src="img/menu.png" />
						</div>
						<div class="menu-icon" @click="showMenu2($event)">
							<img src="img/search-black.png" />
						</div>
					</div>
					<div class="menu-right">
						<div class="div-table" v-for="(m,k) in menuList">
							<div class="menu-item" @click="showMenuDetail($event,m.type,m.children.length)">
								<img :src="'img/'+m.icon" width="18" /> {{m.name}}
							</div>
							<div v-if="m.children.length>0" class="menu-item-content" style="display: none;">
								<ul>
									<li style="cursor: pointer;" v-for="c in m.children" @click="showDatas(c.code)"><span :style="'color:'+c.color+';font-size:24px;'">■</span> {{c.name}} </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</transition>
			<transition name="fade">
				<div v-if="show == 'menu2'" class="menu-box">
					<div class="menu-left">
						<div class="menu-icon" @click="showMenu1($event)">
							<img src="img/menu-black.png" />
						</div>
						<div class="menu-icon active" @click="showMenu2($event)">
							<img src="img/search.png" />
						</div>
					</div>
					<div class="menu-right">
						<div class="div-table" v-for="m in menuList">
							<div class="menu-item" @click="showMenuDetail1($event,m.type,m.children.length)">
								<img :src="'img/'+m.icon" width="18" /> {{m.name}}
							</div>
							<div class="menu-item-content" style="display: none;">
								<ul>
									<li v-for="c in m.children">{{c.name}} </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</transition>
			<!--项目详细信息-->
			<transition name="fade">
				<div v-if="showxm" class="xm-info">
					<div class="xm-info-head">
						<div class="xm-info-head-title">
							{{xminfo.htmc||''}}
							<div v-if="xminfo.sjh" class="xm-info-sjh">
								设计号：{{xminfo.sjh}}
							</div>
							<div class="xm-info-more">
								<span v-if="xminfo.gljb">{{xminfo.gljb}} </span>
								<span v-if="xminfo.zds">{{xminfo.zds}} </span>
								<span v-if="xminfo.sz">{{'设总：'+xminfo.sz}} </span>
							</div>
						</div>
					</div>
					<div class="xm-info-amount">
						<img src="img/sf.png" /> 合同额：￥ {{xminfo.hte||'0'}}万元
					</div>
					<div class="xm-info-image-container">
						<!--<img src="img/holder.png" />-->
						<div class="div-table">
							<div class="div-row">
								<div class="div-cell labels">
									业主单位：
								</div>
								<div class="div-cell">
									{{xminfo.yzmc}}
								</div>
							</div>
							<div class="div-row ">
								<div class="div-cell labels">
									现在进度：
								</div>
								<div class="div-cell">
									{{xminfo.xmxjd}}
								</div>
							</div>
						</div>
					</div>
					<div class="xm-info-image-container" style="display: block;">
						<div class="div-table">
							<div class="div-row">
								<div class="div-cell">
									项目推进是否存在问题
								</div>
								<div class="div-cell ">
									<span v-if="xminfo.xmtjsfczte == '是'" class="circle-yes">是</span>
									<span v-else class="circle-text">否</span>
								</div>
							</div>
							<div class="div-row">
								<div class="div-cell">
									下个月是否有评审计划
								</div>
								<div class="div-cell">
									<span v-if="xminfo.xgysfypsjh == '是'" class="circle-yes">是</span>
									<span v-else class="circle-text">否</span>
								</div>
							</div>
							<div class="div-row ">
								<div class="div-cell">
									是否已进行内审
								</div>
								<div class="div-cell">
									<span v-if="xminfo.sfyjxns == '是'" class="circle-yes">是</span>
									<span v-else class="circle-text">否</span>
								</div>
							</div>
						</div>
					</div>
					<div v-if="xminfo.yjxnbpsdjd" class="flow-container">
						<div class="flow-head">
							已进行内审阶段:{{xminfo.yjxnbpsdjd}}
						</div>
						<div class="flow-body">
							<div class="flow-row">
								<div class="div-cell flow-date">
								</div>
								<div class="div-cell flow-state">
									<span class="circle" style="background-color: lightgray;">&radic;</span>
								</div>
								<div class="div-cell" style="color: lightgray;">
									完成
								</div>
							</div>
							<div class="flow-row">
								<div class="div-cell flow-date">
									2018-06-01
								</div>
								<div class="div-cell flow-state">
									<span class="circle">&radic;</span>
								</div>
								<div class="div-cell">
									终期评审
									<br />
								</div>
							</div>
							<div class="flow-row" style="color: green;"><br />
								<div class="div-cell flow-date">
									2018-09-01
								</div>

								<div class="div-cell flow-state">
									<span class="circle" style="background-color: green;">&radic;</span>
								</div>
								<div class="div-cell">
									初期评审
								</div>
							</div>
							<div class="flow-row">
								<div class="div-cell flow-date">
								</div>

								<div class="div-cell flow-state" style="background-image: none;">
									<span class="circle" style="background-color: green;">&radic;</span>
								</div>
								<div class="div-cell">
								</div>
							</div>
							<div style="clear: both;"></div>
						</div>
					</div>
					<div v-if="xminfo.xmjqqkhb" class="flow-container">
						<div class="flow-head">
							项目近期情况汇报
						</div>
						<div class="flow-body">
							{{xminfo.xmjqqkhb}}
						</div>
						<div style="clear: both;"></div>
					</div>
					<div class="xm-info-close" @click="hideXmInfo">
						X
					</div>
				</div>
			</transition>
			<div class="tool-box">
				<div class="tool-item">
					<img src="img/earth.png" />
				</div>
				<div class="tool-item-spline">

				</div>
				<div class="tool-item">
					<img src="img/table.png" />
				</div>
				<div class="tool-item-spline">

				</div>
				<div class="tool-item">
					<img src="img/bar-chart.png" />
				</div>
				<div class="tool-item-spline">

				</div>
				<div class="tool-item">
					<img src="img/clock.png" />
				</div>
				<div class="tool-item-spline">

				</div>
				<div class="tool-item" @click="showReport">
					<img src="img/yb.png" />
				</div>
			</div>

			<div v-if="showTable" class="table-container">
				<div class="table-head">
					数据列表
					<span class="btn-close" @click="closeTable">x</span>
				</div>
				<div class="table-body table-responsive">
					<!--<img :src="tbimg" style="width: 100%;height: 100%;"/>-->
					<!--产值收费情况-->
					<table v-if="showDataType == 'czsfqk'" class="table table-bordered table-striped table-hover table-condensed">
						<caption>产值收费情况</caption>
						<tbody>
							<tr>
								<th width="50">
									部门
								</th>
								<th>
									产值目标
								</th>
								<th>
									当月实收
								</th>
								<th>
									当月销项税
								</th>
								<th>
									GDP累计
								</th>
								<th>
									GDP累计完成比例
								</th>
								<th>
									已到帐未分配
								</th>
								<th>
									下月收费计划
								</th>
							</tr>
							<tr class="link-tr" @click="showMapByZds('规划所','czsfqk')">
								<th>
									规划所
								</th>
								<td>
									2700
								</td>
								<td>
									11.79
								</td>
								<td>
									0.71
								</td>
								<td>
									282.13
								</td>
								<td>
									10.45%
								</td>
								<td>
									0
								</td>
								<td>
									528.57
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('规研所','czsfqk')">
								<th>
									规研所
								</th>
								<td>
									2220
								</td>
								<td>
									41.98
								</td>
								<td>
									2.52
								</td>
								<td>
									200.52
								</td>
								<td>
									9.03%
								</td>
								<td>
									0
								</td>
								<td>
									271.53
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('交通所','czsfqk')">
								<th>
									交通所
								</th>
								<td>
									2580
								</td>
								<td>
									69.3
								</td>
								<td>
									4.16
								</td>
								<td>
									234.27
								</td>
								<td>
									9.08%
								</td>
								<td>
									0
								</td>
								<td>
									76.23
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('城设所','czsfqk')">
								<th>
									城设所
								</th>
								<td>
									780
								</td>
								<td>
									0
								</td>
								<td>
									0
								</td>
								<td>
									31.02
								</td>
								<td>
									3.98%
								</td>
								<td>
									0
								</td>
								<td>
									89.2
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('区域所','czsfqk')">
								<th>
									区域所
								</th>
								<td>
									120
								</td>
								<td>
									0
								</td>
								<td>
									0
								</td>
								<td>
									0
								</td>
								<td>
									0.00%
								</td>
								<td>
									0
								</td>
								<td>
									0
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('','czsfqk')">
								<th>
									合计
								</th>
								<td>
									8400
								</td>
								<td>
									123.07
								</td>
								<td>
									7.38
								</td>
								<td>
									747.94
								</td>
								<td>
									8.90%
								</td>
								<td>
									0
								</td>
								<td>
									965.53
								</td>
							</tr>
						</tbody>
					</table>

					<!--合同签订情况-->
					<table v-if="showDataType == 'htqdqk'" class="table table-bordered table-striped table-hover table-condensed">
						<caption>合同签订情况</caption>
						<tbody>
							<tr>
								<th width="50">
									部门
								</th>
								<th>
									签定目标
								</th>
								<th>
									当月合同额
								</th>
								<th>
									合同签订
								</th>
								<th>
									累计合同额
								</th>
								<th>
									累计签订
								</th>
								<th>
									累计签定合同额比例
								</th>
								<th>
									待签合同额
								</th>
								<th>
									待签合同数
								</th>
							</tr>
							<tr class="link-tr" @click="showMapByZds('规划所','htqdqk')">
								<th>
									规划所
								</th>
								<td>
									3300
								</td>
								<td>
									92
								</td>
								<td>
									3
								</td>
								<td>
									311.1
								</td>
								<td>
									10
								</td>
								<td>
									9.43%
								</td>
								<td>
									552.7
								</td>
								<td>
									5
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('规研所','htqdqk')">
								<th>
									规研所
								</th>
								<td>
									3080
								</td>
								<td>
									33
								</td>
								<td>
									1
								</td>
								<td>
									131
								</td>
								<td>
									2
								</td>
								<td>
									4.25%
								</td>
								<td>
									0
								</td>
								<td>
									0
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('交通所','htqdqk')">
								<th>
									交通所
								</th>
								<td>
									3080
								</td>
								<td>
									836.08
								</td>
								<td>
									5
								</td>
								<td>
									973.28
								</td>
								<td>
									12
								</td>
								<td>
									31.60%
								</td>
								<td>
									237
								</td>
								<td>
									4
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('城设所','htqdqk')">
								<th>
									城设所
								</th>
								<td>
									1100
								</td>
								<td>
									62
								</td>
								<td>
									2
								</td>
								<td>
									231
								</td>
								<td>
									5
								</td>
								<td>
									21.00%
								</td>
								<td>
									0
								</td>
								<td>
									0
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('区域所','htqdqk')">
								<th>
									区域所
								</th>
								<td>
									440
								</td>
								<td>
									0
								</td>
								<td>
									0
								</td>
								<td>
									0
								</td>
								<td>
									0
								</td>
								<td>
									0.00%
								</td>
								<td>
									0
								</td>
								<td>
									0
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('','htqdqk')">
								<th>
									合计
								</th>
								<td>
									11000
								</td>
								<td>
									1023.08
								</td>
								<td>
									11
								</td>
								<td>
									1646.38
								</td>
								<td>
									29
								</td>
								<td>
									14.97%
								</td>
								<td>
									789.7
								</td>
								<td>
									9
								</td>
							</tr>
						</tbody>
					</table>

					<table v-if="showDataType == 'cbk'" class="table table-bordered table-striped table-hover table-condensed">
						<caption>项目储备</caption>
						<tbody>
							<tr>
								<th width="50">
									主导所
								</th>
								<th>
									项目个数
								</th>
								<th>
									预计合同额
								</th>
							</tr>
							<tr class="link-tr" @click="showMapByZds('规划所','cbk')">
								<th>
									规划所
								</th>
								<td>
									26
								</td>
								<td>
									3222.5
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('规研所','cbk')">
								<th>
									规研所
								</th>
								<td>
									84
								</td>
								<td>
									6951.43
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('交通所','cbk')">
								<th>
									交通所
								</th>
								<td>
									56
								</td>
								<td>
									7655.64
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('城设所','cbk')">
								<th>
									城设所
								</th>
								<td>
									20
								</td>
								<td>
									340
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('区域所','cbk')">
								<th>
									区域所
								</th>
								<td>
									0
								</td>
								<td>
									0
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('','cbk')">
								<th>
									总计
								</th>
								<td>
									186
								</td>
								<td>
									18169.57
								</td>
							</tr>
						</tbody>
					</table>

					<!--下月计划收费-->
					<table v-if="showDataType == 'xyjhsf'" class="table table-bordered table-striped table-hover table-condensed">
						<caption>下月计划收费</caption>
						<tbody>
							<tr>
								<th width="50">
									部门
								</th>
								<th>
									项目个数
								</th>
								<th>
									预计合同额
								</th>
							</tr>
							<tr class="link-tr" @click="showMapByZds('规划所','type')">
								<th>
									规划所
								</th>
								<td>
									26
								</td>
								<td>
									3222.5
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('规研所','type')">
								<th>
									规研所
								</th>
								<td>
									84
								</td>
								<td>
									6951.43
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('交通所','type')">
								<th>
									交通所
								</th>
								<td>
									56
								</td>
								<td>
									7655.64
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('城设所','type')">
								<th>
									城设所
								</th>
								<td>
									20
								</td>
								<td>
									340
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('区域所','type')">
								<th>
									区域所
								</th>
								<td>
									0
								</td>
								<td>
									0
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('','type')">
								<th>
									合计
								</th>
								<td>
									186
								</td>
								<td>
									18169.57
								</td>
							</tr>
						</tbody>
					</table>

					<!---->
					<table v-if="showDataType == 'tbqk'" class="table table-bordered table-striped table-hover table-condensed">
						<caption>投标情况</caption>
						<tbody>
							<tr>
								<th width="50">
									部门
								</th>
								<th>
									项目个数
								</th>
								<th>
									合同额
								</th>
							</tr>
							<tr class="link-tr" @click="showMapByZds('规划所','tbqk')">
								<th>
									规划所
								</th>
								<td>
									3
								</td>
								<td>
									177.7
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('规研所','tbqk')">
								<th>
									规研所
								</th>
								<td>
									3
								</td>
								<td>
									190.4
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('交通所','tbqk')">
								<th>
									交通所
								</th>
								<td>
									2
								</td>
								<td>
									365
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('城设所','tbqk')">
								<th>
									城设所
								</th>
								<td>
									0
								</td>
								<td>
									0
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('区域所','tbqk')">
								<th>
									区域所
								</th>
								<td>
									0
								</td>
								<td>
									0
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('','tbqk')">
								<th>
									合计
								</th>
								<td>
									8
								</td>
								<td>
									733.1
								</td>
							</tr>
						</tbody>
					</table>

					<table v-if="showDataType == 'dqht'" class="table table-bordered table-striped table-hover table-condensed">
						<caption>待签合同</caption>
						<tbody>
							<tr>
								<th width="50">
									部门
								</th>
								<th>
									项目个数
								</th>
								<th>
									估算合同额
								</th>
							</tr>
							<tr class="link-tr" @click="showMapByZds('规划所','dqht')">
								<th>
									规划所
								</th>
								<td>
									5
								</td>
								<td>
									552.7
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('规研所','dqht')">
								<th>
									规研所
								</th>
								<td>
									0
								</td>
								<td>
									0
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('交通所','dqht')">
								<th>
									交通所
								</th>
								<td>
									4
								</td>
								<td>
									237
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('城设所','dqht')">
								<th>
									城设所
								</th>
								<td>
									0
								</td>
								<td>
									0
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('区域所','dqht')">
								<th>
									区域所
								</th>
								<td>
									0
								</td>
								<td>
									0
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('','dqht')">
								<th>
									合计
								</th>
								<td>
									9
								</td>
								<td>
									789.7
								</td>
							</tr>
						</tbody>
					</table>

					<table v-if="showDataType == 'yqht'" class="table table-bordered table-striped table-hover table-condensed">
						<caption>已签合同</caption>
						<tbody>
							<tr>
								<th width="50">
									部门
								</th>
								<th>
									项目个数
								</th>
								<th>
									实际合同额
								</th>
							</tr>
							<tr class="link-tr" @click="showMapByZds('规划所','yqht')">
								<th>
									规划所
								</th>
								<td>
									3
								</td>
								<td>
									92
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('规研所','yqht')">
								<th>
									规研所
								</th>
								<td>
									1
								</td>
								<td>
									33
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('交通所','yqht')">
								<th>
									交通所
								</th>
								<td>
									6
								</td>
								<td>
									836.08
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('城设所','yqht')">
								<th>
									城设所
								</th>
								<td>
									2
								</td>
								<td>
									62
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('区域所','yqht')">
								<th>
									区域所
								</th>
								<td>
									0
								</td>
								<td>
									0
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('','yqht')">
								<th>
									合计
								</th>
								<td>
									12
								</td>
								<td>
									1023.08
								</td>
							</tr>
						</tbody>
					</table>

					<table v-if="showDataType == 'bysf'" class="table table-bordered table-striped table-hover table-condensed">
						<caption>本月收费</caption>
						<tbody>
							<tr>
								<th width="50">
									部门
								</th>
								<th>
									项目个数
								</th>
								<th>
									到帐收入
								</th>
								<th>
									不含税收入
								</th>
							</tr>
							<tr class="link-tr" @click="showMapByZds('规划所','type')">
								<th>
									规划所
								</th>
								<td>
									2
								</td>
								<td>
									12.5
								</td>
								<td>
									11.79245283
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('规研所','type')">
								<th>
									规研所
								</th>
								<td>
									2
								</td>
								<td>
									44.5
								</td>
								<td>
									41.98113208
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('交通所','type')">
								<th>
									交通所
								</th>
								<td>
									4
								</td>
								<td>
									73.4583
								</td>
								<td>
									69.30028302
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('城设所','type')">
								<th>
									城设所
								</th>
								<td>
									0
								</td>
								<td>
									0
								</td>
								<td>
									0
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('区域所','type')">
								<th>
									区域所
								</th>
								<td>
									0
								</td>
								<td>
									0
								</td>
								<td>
									0
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('','type')">
								<th>
									合计
								</th>
								<td>
									8
								</td>
								<td>
									130.4583
								</td>
								<td>
									123.0738679
								</td>
							</tr>
						</tbody>
					</table>

					<table v-if="showDataType == 'zsk'" class="table table-bordered table-striped table-hover table-condensed">
						<caption>项目进度</caption>
						<tbody>
							<tr>
								<th width="50">
									部门
								</th>
								<th>
									项目个数
								</th>
								<th>
									合同额
								</th>
								<th>
									已收费
								</th>
								<th>
									未收费
								</th>
							</tr>
							<tr class="link-tr" @click="showMapByZds('规划所','zsk')">
								<th>
									规划所
								</th>
								<td>
									36
								</td>
								<td>
									2582.416
								</td>
								<td>
									36
								</td>
								<td>
									1415.276
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('规研所','zsk')">
								<th>
									规研所
								</th>
								<td>
									71
								</td>
								<td>
									4788.627
								</td>
								<td>
									69
								</td>
								<td>
									2021.669
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('交通所','zsk')">
								<th>
									交通所
								</th>
								<td>
									6
								</td>
								<td>
									213.19
								</td>
								<td>
									6
								</td>
								<td>
									192.423
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('城设所','zsk')">
								<th>
									城设所
								</th>
								<td>
									8
								</td>
								<td>
									409.06
								</td>
								<td>
									8
								</td>
								<td>
									161.25
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('区域所','zsk')">
								<th>
									区域所
								</th>
								<td>
									0
								</td>
								<td>
									0
								</td>
								<td>
									0
								</td>
								<td>
									0
								</td>
							</tr>
							<tr class="link-tr" @click="showMapByZds('','zsk')">
								<th>
									合计
								</th>
								<td>
									121
								</td>
								<td>
									7993.293
								</td>
								<td>
									119
								</td>
								<td>
									3790.618
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div v-if="showTable2" class="table-container">
				<div class="table-head">
					数据列表<span class="btn-close" @click="closeTable">x</span>
				</div>
				<div class="table-body">
					<table>
						<tr v-for="(tr,k) in tbData" v-if="k == 0">
							<th v-for="th in tr" v-text="th"></th>
						</tr>
						<tr v-for="(tr,k) in tbData" v-if="k > 0">
							<td v-for="td in tr" v-text="td"></td>
						</tr>
					</table>
				</div>
			</div>
			<div v-if="showEcharts" id="echart-container">
				<div class="table-head">
					统计图表
					<span class="btn-close" @click="closeEchart">x</span>
					<span v-if="chartIndex == '0'&& chartList.length>1" class="btn-move" @click="changeEchart('1')"> > </span>
					<span v-if="chartIndex == '1'&& chartList.length>1" class="btn-move" @click="changeEchart('0')"> < </span>
				</div>
				<div class="table-body">
					<!--<img :src="ecimg" style="width: 100%;height: 100%;" />-->
					<ve-pie v-if="chartObj.type == 'pie'" :data="chartObj.data" :settings="chartObj.settings" :height="'240px'"></ve-pie>
					<ve-line v-if="chartObj.type == 'line'" :data="chartObj.data" :settings="chartObj.settings" :height="'240px'"></ve-line>
					<ve-histogram v-if="chartObj.type == 'histogram'" :data="chartObj.data" :settings="chartObj.settings" :height="'240px'"></ve-histogram>
					<ve-waterfall v-if="chartObj.type == 'waterfall'" :data="chartObj.data" :settings="chartObj.settings" :height="'240px'"></ve-waterfall>
				</div>
				<!--<ve-histogram :data="chartData" :height="'240px'" :settings="chartSettings"></ve-histogram>-->
			</div>
			<div v-if="reportShow" class="report-container">
				<iframe src="report3.md.html" width="100%" height="100%"></iframe>
			</div>
		</div>

		<script src="js/jquery.min.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/echarts.min.js"></script>
		<script src="js/index.min.js"></script>
		<script src="js/axios.min.js"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=AjYb67cw99SjEE9ugzVeU7rV"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script type="text/javascript">
			var app = new Vue({
				el: '#app',
				data: {
					map: null,
					opts: {
						width: 268,
						enableMessage: true
					},
					zdsList: ["城规院", "规划所", "规研所", "交通所", "城设所", "区域所"],
					show: 'menu',
					zds: '',
					showxm: false,
					menuList: [],
					menuList0: [{
							"icon": "sf.png",
							"name": "生产情况",
							"type": "sf",
							"children": [{
									"icon": '',
									"name": "产值收费情况",
									"code": "czsfqk"
								},
								{
									"icon": '',
									"name": "合同签订情况",
									"code": "htqdqk"
								}
							]
						},
						{
							"icon": "ht.png",
							"name": "合同情况",
							"type": "htxx",
							"children": [{
									"icon": '',
									"name": "待签合同",
									"code": "dqht"
								},
								{
									"icon": '',
									"name": "已签合同",
									"code": "yqht"
								}
							]
						},
						{
							"icon": "xm.png",
							"name": "项目储备",
							"type": "cbk",
							"children": []
						},
						{
							"icon": "tb.png",
							"name": "投标情况",
							"type": "tbqk",
							"children": []
						},
						{
							"icon": "gh.png",
							"name": "正式项目",
							"type": "zsk",
							"children": []
						}
					],
					menuList1: [{
							"icon": "tb.png",
							"name": "院管重点",
							"type": "sheet1",
							"children": []
						},
						{
							"icon": "gh.png",
							"name": "本月开工",
							"type": "sheet2",
							"children": []
						},
						{
							"icon": "xm.png",
							"name": "本月完工",
							"type": "sheet3",
							"children": []
						}
					],
					xminfo: {},
					thList: [],
					trList: [],
					td: {},
					showTable: false,
					showTable2: false,
					showEcharts: false,
					showmap: false,
					tbData: [
						[]
					],
					type: '',
					reportShow: false,
					tbimg: '',
					ecimg: '',
					showDataType: "",
					chartList: {
						type: '',
						title: {
							text: ""
						},
						data: [],
						settings: {}
					},
					chartObj: {
						type: '',
						title: {},
						data: {},
						settings: {}
					},
					chartType: "",
					chartIndex: 0,
				},
				created: function() {

				},
				mounted: function() {
					this.menuList = this.menuList0;
					this.map = new BMap.Map("mapDiv", {
						enableMapClick: false
					});
					var point = new BMap.Point(108.40769, 22.89945);
					this.map.centerAndZoom(point, 8);
					this.map.enableScrollWheelZoom(true);
					this.map.setMapStyle({
						style: 'grayscale'
					});
					this.map.addEventListener("zoomend", this.showZoom);

					var heatmapOverlay = new BMapLib.HeatmapOverlay({
						"radius": 40
					});
					//this.loadXm();
				},
				methods: {
					showSL: function() {
						if(this.show == 'menu') {
							this.show = 'search';
						} else {
							this.show = 'menu';
						}
					},
					selectAction: function(zds) {
						this.zds = zds;
						this.show = 'menu';
					},
					showMenu1: function(e) {
						this.showTable = false;
						this.showEcharts = false;
						$(".menu-icon").eq(1).removeClass('active');
						$(".menu-icon").eq(1).html('<img src="img/search-black.png" />');
						$(".menu-icon").eq(0).addClass('active');
						$(".menu-icon").eq(0).html('<img src="img/menu.png" />');
						this.menuList = this.menuList0;
						this.show = 'menu';
					},
					showMenu2: function(e) {
						this.showTable = false;
						this.showEcharts = false;
						$(".menu-icon").eq(0).removeClass('active');
						$(".menu-icon").eq(0).html('<img src="img/menu-black.png" />');
						$(".menu-icon").eq(1).addClass('active');
						$(".menu-icon").eq(1).html('<img src="img/search.png" />');
						this.menuList = this.menuList1;
						this.show = 'menu2';
					},
					showMenuDetail: function(e, type, count) {

						this.reportShow = false;
						$(".menu-item-content").hide();
						$(".menu-item").removeClass('menu-item-active');
						var el = e.target;
						$(el).addClass('menu-item-active');
						$(el).next().toggle();
						app.map.clearOverlays();
						if(count == 0) {
							this.showDataType = type;
							switch(type) {
								case 'sf':
									//显示收费
									this.showTable = true;
									this.showEcharts = true;
									this.tbimg = 'data/sf1.png';
									this.ecimg = 'data/sf2.png';
									break;
								case 'cbk':
									//显示储备
									this.showTable = true;
									this.showEcharts = true;
									this.chartObj = {};
									this.chartList = [{
										type: 'waterfall',
										data: {
											columns: ['部门', '数量'],
											rows: [{
													'部门': '规划所',
													'数量': 26
												},
												{
													'部门': '规研所',
													'数量': 84
												},
												{
													'部门': '交通所',
													'数量': 56
												},
												{
													'部门': '城设所',
													'数量': 20
												},
												{
													'部门': '区域所',
													'数量': 0
												}
											]
										}
									}, {
										type: 'waterfall',
										data: {
											columns: ['部门', '合同额'],
											rows: [{
													'部门': '规划所',
													'合同额': 3222.5
												},
												{
													'部门': '规研所',
													'合同额': 6951.43
												},
												{
													'部门': '交通所',
													'合同额': 7655.64
												},
												{
													'部门': '城设所',
													'合同额': 340
												},
												{
													'部门': '区域所',
													'合同额': 0
												}
											]
										}
									}];
									this.chartIndex = 0;
									this.chartObj = this.chartList[this.chartIndex];

									break;
								case 'tbqk':
									//显示投标
									this.showTable = true;
									this.showEcharts = true;
									this.chartObj = {};
									this.chartList = [{
										type: 'waterfall',
										data: {
											columns: ['部门', '数量'],
											rows: [{
													'部门': '规划所',
													'数量': 3
												},
												{
													'部门': '规研所',
													'数量': 3
												},
												{
													'部门': '交通所',
													'数量': 2
												},
												{
													'部门': '城设所',
													'数量': 0
												},
												{
													'部门': '区域所',
													'数量': 0
												}
											]
										}
									}, {
										type: 'waterfall',
										data: {
											columns: ['部门', '合同额'],
											rows: [{
													'部门': '规划所',
													'合同额': 177.7
												},
												{
													'部门': '规研所',
													'合同额': 190.4
												},
												{
													'部门': '交通所',
													'合同额': 365
												},
												{
													'部门': '城设所',
													'合同额': 0
												},
												{
													'部门': '区域所',
													'合同额': 0
												}
											]
										}
									}];
									this.chartIndex = 0;
									this.chartObj = this.chartList[this.chartIndex];
									break;
								case 'zsk':
									//显示正式库
									this.showTable = true;
									this.showEcharts = true;
									this.chartObj = {};
									this.chartList = [{
										type: 'waterfall',
										data: {
											columns: ['部门', '数量'],
											rows: [{
													'部门': '规划所',
													'数量': 36
												},
												{
													'部门': '规研所',
													'数量': 71
												},
												{
													'部门': '交通所',
													'数量': 6
												},
												{
													'部门': '城设所',
													'数量': 8
												},
												{
													'部门': '区域所',
													'数量': 0
												}
											]
										}
									}, {
										type: 'waterfall',
										data: {
											columns: ['部门', '合同额'],
											rows: [{
													'部门': '规划所',
													'合同额': 2582.416
												},
												{
													'部门': '规研所',
													'合同额': 4788.627
												},
												{
													'部门': '交通所',
													'合同额': 213.19
												},
												{
													'部门': '城设所',
													'合同额': 409.06
												},
												{
													'部门': '区域所',
													'合同额': 0
												}
											]
										}
									}];
									this.chartIndex = 0;
									this.chartObj = this.chartList[this.chartIndex];
									break;
									break;
								default:
									break;
							}
						}

						/*axios.get('http://47.92.29.173:3000/sf')
							.then(function(res) {
								if(res.status == 200) {
									var d = [];
									for(var k in res.data.sfList) {
										var sf = res.data.sfList[k];
										if(res.data.sfCount[sf] > 100) {
											app.getBoundary(res.data.sfList[k], '#fc9149');
										} else if(res.data.sfCount[sf] > 50) {
											app.getBoundary(res.data.sfList[k], '#faab46');
										} else if(res.data.sfCount[sf] > 40) {
											app.getBoundary(res.data.sfList[k], '#fcbe47');
										} else if(res.data.sfCount[sf] > 30) {
											app.getBoundary(res.data.sfList[k], '#fdd14a');
										} else if(res.data.sfCount[sf] > 20) {
											app.getBoundary(res.data.sfList[k], '#f7ea46');
										} else {
											app.getBoundary(res.data.sfList[k], '#fcfd49');
										}
										app.map.setZoom(6);
										d.push({
											'省份': sf,
											'数量': res.data.sfSum[sf]
										})
									}
									app.thList = ['序号', '省份', '数量'];
									app.trList = res.data.sfList;
									app.td = res.data.sfCount;
									app.showTable = true;
									app.showEcharts = true;

									app.chartData = {
										height: '240px',
										columns: ['省份', '数量'],
										rows: d
									};
									this.chartSettings = {
										yAxisType: ['KMB'],
										yAxisName: ['数值']
									}
								}
							})
							.catch(function(error) {
								console.log(error);
							});*/
					},
					showDatas: function(type) {
						app.map.clearOverlays();
						this.showDataType = type;
						this.chartList = [];
						switch(type) {
							case 'czsfqk':
								//显示收费
								this.showTable = true;
								this.showEcharts = false;
								break;
							case 'htqdqk':
								//显示合同
								this.showTable = true;
								this.showEcharts = true;
								this.chartList = [{
									type: 'histogram',
									title: {
										text: '2018年与2017年月度产值'
									},
									data: {
										columns: ['月份', '2018年产值基数', '2017年月产值', '2018年月度产值'],
										rows: [{
												'月份': '1月',
												'2018年产值基数': 420,
												'2017年月产值': 67.3,
												'2018年月度产值': 77.06
											},
											{
												'月份': '2月',
												'2018年产值基数': 420,
												'2017年月产值': 384.08,
												'2018年月度产值': 540.43
											},
											{
												'月份': '3月',
												'2018年产值基数': 420,
												'2017年月产值': 411.34,
												'2018年月度产值': 130.46
											},
											{
												'月份': '4月',
												'2018年产值基数': 700,
												'2017年月产值': 233.4,
												'2018年月度产值': '-'
											},
											{
												'月份': '5月',
												'2018年产值基数': 700,
												'2017年月产值': 299.75,
												'2018年月度产值': '-'
											},
											{
												'月份': '6月',
												'2018年产值基数': 700,
												'2017年月产值': 295.88,
												'2018年月度产值': '-'
											},
											{
												'月份': '7月',
												'2018年产值基数': 700,
												'2017年月产值': 703.15,
												'2018年月度产值': '-'
											},
											{
												'月份': '8月',
												'2018年产值基数': 700,
												'2017年月产值': 322.52,
												'2018年月度产值': '-'
											},
											{
												'月份': '9月',
												'2018年产值基数': 700,
												'2017年月产值': 467.48,
												'2018年月度产值': '-'
											},
											{
												'月份': '10月',
												'2018年产值基数': 960,
												'2017年月产值': 1142.19,
												'2018年月度产值': '-'
											},
											{
												'月份': '11月',
												'2018年产值基数': 960,
												'2017年月产值': 978.28,
												'2018年月度产值': '-'
											},
											{
												'月份': '12月',
												'2018年产值基数': 1020,
												'2017年月产值': 2868.67,
												'2018年月度产值': '-'
											}
										]
									}
								}, {
									type: 'line',
									title: {
										text: '2018年与2017年月度产值累加'
									},
									data: {
										columns: ['月份', '2017年设计费累加', '2018年产值基数累加', '2018年设计费累加'],
										rows: [{
												'月份': '1月',
												'2017年设计费累加': 67.3,
												'2018年产值基数累加': 420,
												'2018年设计费累加': 77.06
											},
											{
												'月份': '2月',
												'2017年设计费累加': 451.38,
												'2018年产值基数累加': 840,
												'2018年设计费累加': 617.48
											},
											{
												'月份': '3月',
												'2017年设计费累加': 862.73,
												'2018年产值基数累加': 1260,
												'2018年设计费累加': 747.94
											},
											{
												'月份': '4月',
												'2017年设计费累加': 1096.12,
												'2018年产值基数累加': 1960,
												'2018年设计费累加': '-'
											},
											{
												'月份': '5月',
												'2017年设计费累加': 1395.87,
												'2018年产值基数累加': 2660,
												'2018年设计费累加': '-'
											},
											{
												'月份': '6月',
												'2017年设计费累加': 1691.75,
												'2018年产值基数累加': 3360,
												'2018年设计费累加': '-'
											},
											{
												'月份': '7月',
												'2017年设计费累加': 2394.91,
												'2018年产值基数累加': 4060,
												'2018年设计费累加': '-'
											},
											{
												'月份': '8月',
												'2017年设计费累加': 2717.43,
												'2018年产值基数累加': 4760,
												'2018年设计费累加': '-'
											},
											{
												'月份': '9月',
												'2017年设计费累加': 3184.9,
												'2018年产值基数累加': 5460,
												'2018年设计费累加': '-'
											},
											{
												'月份': '10月',
												'2017年设计费累加': 4327.1,
												'2018年产值基数累加': 6420,
												'2018年设计费累加': '-'
											},
											{
												'月份': '11月',
												'2017年设计费累加': 5305.38,
												'2018年产值基数累加': 7380,
												'2018年设计费累加': '-'
											},
											{
												'月份': '12月',
												'2017年设计费累加': 8174.05,
												'2018年产值基数累加': 8400,
												'2018年设计费累加': '-'
											}
										]
									}
								}];
								this.chartObj = this.chartList[this.chartIndex];
								break;
							case 'dqht':
								//待签合同
								this.showTable = true;
								this.showEcharts = true;
								this.chartList = [{
									type: 'waterfall',
									data: {
										columns: ['部门', '数量'],
										rows: [{
												'部门': '规划所',
												'数量': 5
											},
											{
												'部门': '规研所',
												'数量': 0
											},
											{
												'部门': '交通所',
												'数量': 4
											},
											{
												'部门': '城设所',
												'数量': 0
											},
											{
												'部门': '区域所',
												'数量': 0
											}
										]
									}
								}, {
									type: 'waterfall',
									data: {
										columns: ['部门', '合同额'],
										rows: [{
												'部门': '规划所',
												'合同额': 552.7
											},
											{
												'部门': '规研所',
												'合同额': 0
											},
											{
												'部门': '交通所',
												'合同额': 237
											},
											{
												'部门': '城设所',
												'合同额': 0
											},
											{
												'部门': '区域所',
												'合同额': 0
											}
										]
									}
								}];
								this.chartIndex = 0;
								this.chartObj = this.chartList[this.chartIndex];
							case 'yqht':
								//已签合同
								this.showTable = true;
								this.showEcharts = true;
								this.chartObj = {};
								this.chartList = [{
									type: 'waterfall',
									data: {
										columns: ['部门', '数量'],
										rows: [{
												'部门': '规划所',
												'数量': 3
											},
											{
												'部门': '规研所',
												'数量': 1
											},
											{
												'部门': '交通所',
												'数量': 6
											},
											{
												'部门': '城设所',
												'数量': 2
											},
											{
												'部门': '区域所',
												'数量': 0
											}
										]
									}
								}, {
									type: 'waterfall',
									data: {
										columns: ['部门', '合同额'],
										rows: [{
												'部门': '规划所',
												'合同额': 92
											},
											{
												'部门': '规研所',
												'合同额': 33
											},
											{
												'部门': '交通所',
												'合同额': 836.08
											},
											{
												'部门': '城设所',
												'合同额': 62
											},
											{
												'部门': '区域所',
												'合同额': 0
											}
										]
									}
								}];
								this.chartIndex = 0;
								this.chartObj = this.chartList[this.chartIndex];
								break;
							case 'cb':
								//显示储备
								break;
							case 'tb':
								//显示投标
								break;
							case 'gh':
								break;
							default:
								break;
						}
					},
					showMenuDetail1: function(e, type) {
						$(".menu-item").removeClass('menu-item-active');
						var el = e.target;
						$(el).addClass('menu-item-active');
						this.type = type;
						app.map.clearOverlays();
						this.loadXm();
					},
					loadXm: function() {
						axios.get('http://47.92.29.173:3001/' + this.type)
							.then(function(res) {
								if(res.status == 200) {
									data = JSON.parse(JSON.stringify(res.data));
									for(var k in res.data) {
										var xm = res.data[k];
										if(xm.point) {
											var par = xm.point.split(',');
											var pt = new BMap.Point(par[0], par[1]);
											var myIcon1 = new BMap.Icon("img/map-point-o.png", new BMap.Size(32, 40));
											var myIcon2 = new BMap.Icon("img/map-point.png", new BMap.Size(32, 40));
											var marker2;
											if(xm.gljb == '院管') {
												marker2 = new BMap.Marker(pt, {
													icon: myIcon1
												}); // 创建标注
											}
											if(xm.gljb == '所管') {
												marker2 = new BMap.Marker(pt, {
													icon: myIcon2
												}); // 创建标注
											}
											marker2.setLabel()
											app.map.addOverlay(marker2);
											xm.hte = xm.hte ? xm.hte : 0;
											var content = '<div data-id="' + xm.id + '">' +
												'<div class="info-title" title="' + xm.htmc + '">' + xm.htmc + '</div>' +
												'<div class="info-body">' +
												'<idv class="info-row">' +
												'<div class="info-cell info-label">管理级别:</div>' +
												'<div class="info-cell info-value" style="width:86px;">' + xm.gljb + '</div>' +
												'<div class="info-cell info-label">设总:</div>' +
												'<div class="info-cell info-value">' + xm.sz + '</div>' +
												'</div>' +
												'<idv class="info-row">' +
												'<div class="info-cell info-label">业主单位:</div>' +
												'<div class="info-cell info-value">' + xm.yzmc + '</div>' +
												'</div>' +
												'<idv class="info-row">' +
												'<div class="info-cell info-label">合同金额:</div>' +
												'<div class="info-cell info-value">￥' + xm.hte + '</div>' +
												'</div>' +
												'</div>' +
												'</div>';
											app.addClickHandler(content, xm, marker2);
										}
									}
								}
							})
							.catch(function(error) {
								console.log(error);
							});
					},
					openInfo: function(content, xm, e) {
						var p = e.target;
						var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
						var infoWindow = new BMap.InfoWindow(content, app.opts); // 创建信息窗口对象 
						this.map.openInfoWindow(infoWindow, point); //开启信息窗口
						//this.showXmInfo(xm);
					},
					addClickHandler: function(content, xm, marker) {
						marker.addEventListener("click", function(e) {
							//app.openInfo(content, xm, e)
							app.showXmInfo(xm);
						});
						marker.addEventListener("mouseover", function(e) {
							app.openInfo(content, xm, e)
						});
						/*marker.addEventListener("mouseout", function(e) {
							app.map.closeInfoWindow();
						});*/
					},
					showZoom: function(e) {
						var level = this.map.getZoom();
						//全国
						if(level == 3 || level == 4) {
							this.map.clearOverlays();
							this.addCircles(new BMap.Point(106.487551, 29.614825), "全国<br />3000", 500000);
						} //各省
						if(level == 5 || level == 8) {
							this.map.clearOverlays();
							this.addCircles(new BMap.Point(108.35246, 22.838225), "广西<br />1500", 200000);
							this.addCircles(new BMap.Point(113.245102, 23.146469), "广东<br />500", 200000);
							this.addCircles(new BMap.Point(109.715861, 19.079491), "海南<br />200", 200000);
							this.addCircles(new BMap.Point(113.64922, 34.741655), "河南<br />300", 200000);
							this.addCircles(new BMap.Point(106.612508, 26.670379), "贵州<br />300", 200000);
						}
						//各市
						/*if(level == 7 || level == 8) {
							//this.showCS();
							this.map.clearOverlays();
						}*/
						//具体项目
						if(level > 9) {
							this.map.clearOverlays();
						}
					},
					getBoundary: function(cs, color) {
						var bdary = new BMap.Boundary();
						bdary.get(cs, function(rs) { //获取行政区域
							//app.map.clearOverlays(); //清除地图覆盖物       
							var count = rs.boundaries.length; //行政区域的点有多少个
							var pointArray = [];
							for(var i = 0; i < count; i++) {
								var ply = new BMap.Polygon(rs.boundaries[i], {
									strokeWeight: 1,
									strokeColor: "#FFFFFF",
									fillColor: color,
								}); //建立多边形覆盖物
								app.map.addOverlay(ply); //添加覆盖物
								pointArray = pointArray.concat(ply.getPath());
							}
							//app.map.setViewport(pointArray); //调整视野  
						});
					},
					showXmInfo: function(xm) {
						this.xminfo = xm;
						this.showxm = true;
					},
					hideXmInfo: function() {
						this.showxm = false;
					},
					showCS: function() {
						axios.get('http://47.92.29.173:3000/cs')
							.then(function(res) {
								if(res.status == 200) {
									for(var k in res.data.csList) {
										var cs = res.data.csList[k];
										if(res.data.csCount[cs] > 100) {
											app.getBoundary(res.data.csList[k], '#fc9149');
										} else if(res.data.csCount[cs] > 50) {
											app.getBoundary(res.data.csList[k], '#faab46');
										} else if(res.data.csCount[cs] > 40) {
											app.getBoundary(res.data.csList[k], '#fcbe47');
										} else if(res.data.csCount[cs] > 30) {
											app.getBoundary(res.data.csList[k], '#fdd14a');
										} else if(res.data.csCount[cs] > 20) {
											app.getBoundary(res.data.csList[k], '#f7ea46');
										} else {
											app.getBoundary(res.data.csList[k], '#fcfd49');
										}
										app.map.setZoom(8);
									}
									app.thList = ['序号', '城市', '数量'];
									app.trList = res.data.csList;
									app.td = res.data.csCount;
									app.showTable = true;
								}
							})
							.catch(function(error) {
								console.log(error);
							});
					},
					closeTable: function() {
						app.showTable = false;
						app.showTable2 = false;
					},
					closeEchart: function() {
						app.showEcharts = false;
						app.showTable2 = false;
					},
					showMaps: function() {
						if(this.showmap) {
							this.loadXm();
						} else {
							app.map.clearOverlays();
						}
						this.showmap = !this.showmap;
						app.showTable = false;
						app.showEcharts = false;
					},
					showReport: function() {
						this.reportShow = !this.reportShow;
					},
					showMapByZds: function(zds, type) {
						this.loadXm2(zds, type);
					},
					changeEchart: function(index) {
						this.chartIndex = index;
						this.chartObj = this.chartList[index];
					},
					loadXm2: function(zds, type) {
						var url = 'http://47.92.29.173:3001/' + type;
						if(zds != '') {
							url = url + "?zds=" + zds
						}
						axios.get(url)
							.then(function(res) {
								if(res.status == 200) {
									data = JSON.parse(JSON.stringify(res.data));
									app.map.clearOverlays();
									var points = [];
									var s = [];
									for(var k in res.data) {
										var xm = res.data[k];
										if(xm.point) {
											var par = xm.point.split(',');
											var lng = parseFloat(par[0]) + parseFloat((Math.random() / 10).toFixed(4));
											var lat = parseFloat(par[1]) + parseFloat((Math.random() / 10).toFixed(4));
											var pt = new BMap.Point(lng, lat);
											points.push(pt);
											var ss = lng + ',' + lat;
											if(s.indexOf(ss) == -1) {
												s.push(ss);
											}

											var myIcon1 = new BMap.Icon("img/map-point-o.png", new BMap.Size(32, 40));
											var myIcon2 = new BMap.Icon("img/map-point.png", new BMap.Size(32, 40));
											var marker2;
											/*if(xm.gljb == '院管') {
												marker2 = new BMap.Marker(pt, {
													icon: myIcon1
												}); // 创建标注
											}
											if(xm.gljb == '所管') {
												marker2 = new BMap.Marker(pt, {
													icon: myIcon2
												}); // 创建标注
											}*/
											marker2 = new BMap.Marker(pt, {
												icon: myIcon1
											});
											app.map.addOverlay(marker2);
											var content = '<div data-id="' + xm.id + '">' +
												'<div class="info-title" title="' + xm.htmc + '">' + xm.htmc + '</div>' +
												'<div class="info-body">' +
												'<idv class="info-row">' +
												'<div class="info-cell info-label">管理级别:</div>' +
												'<div class="info-cell info-value" style="width:86px;">' + (xm.gljb || '待定') + '</div>' +
												'<div class="info-cell info-label">设总:</div>' +
												'<div class="info-cell info-value">' + (xm.sz || '待定') + '</div>' +
												'</div>' +
												'<idv class="info-row">' +
												'<div class="info-cell info-label">业主单位:</div>' +
												'<div class="info-cell info-value">' + (xm.yzmc || '待定') + '</div>' +
												'</div>' +
												'<idv class="info-row">' +
												'<div class="info-cell info-label">合同金额:</div>' +
												'<div class="info-cell info-value">￥' + (xm.hte || 0) + '</div>' +
												'</div>' +
												'</div>' +
												'</div>';
											app.addClickHandler(content, xm, marker2);
										}
									}
									app.map.setViewport(points);
								}
							})
							.catch(function(error) {
								console.log(error);
							});
					},
					addCircles(point, title, r) {
						/*var circle = new BMap.Circle(point, r);
						circle.setStrokeOpacity(0.8);
						circle.setFillOpacity(0.8);
						//circle.setFillColor("#386ad9");
						this.map.addOverlay(circle);*/

						var opts = {
							position: point, // 指定文本标注所在的地理位置
							offset: new BMap.Size(-30, -30) //设置文本偏移量
						}
						var label = new BMap.Label(title, opts); // 创建文本标注对象
						label.setStyle({
							color: "white",
							fontSize: "12px",
							width: "60px",
							height: "60px",
							borderRadius: "30px",
							//lineHeight: "30px",
							paddingTop:"14px",
							textAlign: "center",
							verticalAlign: "middle",
							fontFamily: "微软雅黑",
							backgroundColor: "#386ad9",
							border: "0"
						});
						this.map.addOverlay(label);
						label.addEventListener("click", function(e) {
							console.log(e);
						});
					}
				}
			});
		</script>
	</body>

</html>