<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			#table-container,
			#echart-container,
			#timeline-container {
				/*border: 1px solid #E7E7E7;*/
				width: 540px;
				height: auto;
			}
			
			.table-title,
			.echart-title {
				line-height: 32px;
				padding: 3px 6px;
			}
			
			.echart-title {
				border-bottom: 1px solid #E7E7E7;
			}
			
			.table {
				width: 100%;
				background-color: white;
			}
			
			.table th {
				background-color: rgb(44, 112, 221);
				color: white;
				line-height: 36px;
				font-weight: normal;
			}
			
			.table th,
			.table td {
				/*border: 1px solid #E7E7E7;*/
				text-align: center;
			}
			
			.table tr {
				background-color: white;
				line-height: 30px;
			}
			
			.table tr:nth-child(odd) {
				background-color: rgb(228, 238, 250);
			}
			
			.table tr:last-child {
				background-color: rgb(255, 158, 1);
			}
			
			.echart-container {
				width: 520px;
				height: auto;
			}
		</style>
	</head>

	<body id="app-2">
		<div id="table-container">
			<div class="table-title">
				数据列表{{message}}
			</div>
			<table class="table" border="0" cellspacing="1" cellpadding="0">
				<tr>
					<th>部门</th>
					<th>投标项目数</th>
					<th>已中标项目数</th>
					<th>未中标项目数</th>
				</tr>
				<tr v-for="d in data.dataList">
					<td v-text="d.name"></td>
					<td v-text="d.tbxms"></td>
					<td v-text="d.yzbxms"></td>
					<td v-text="d.wzbxms"></td>
				</tr>
				<tr>
					<td>合计</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
				</tr>
			</table>
		</div>
		<div id="echart-container">
			<div class="echart-title">
				统计图表
			</div>
		</div>
		<style type="text/css">
			#timeline-container {
				display: table;
				height: 60px;
			}
			
			.timeline-left {
				display: table-cell;
				width: 80px;
				vertical-align: middle;
				text-align: center;
			}
			
			.btn {
				border: 1px solid deepskyblue;
				border-radius: 3px;
				background-color: white;
				line-height: 24px;
			}
			
			.btn img {
				vertical-align: middle;
			}
			
			.timeline-left-btn,
			.timeline-right-btn {
				display: table-cell;
				width: 24px;
				text-align: center;
			}
			
			.timeline-left-btn img,
			.timeline-right-btn img {
				vertical-align: middle;
			}
			
			.timeline-body {
				display: table-cell;
				overflow-x: auto;
			}
			
			.timeline-body ul {
				width: 100%;
				display: table;
				list-style: none;
			}
			
			.timeline-body ul li {
				display: table-cell;
			}
			
			.timeline-close {
				display: table-cell;
				width: 24px;
				text-align: center;
			}
		</style>
		<div id="timeline-container">
			<div class="timeline-left">
				<button class="btn"> 2017年 <img src="img/arrow-down.png" width="12"/>  </button>
			</div>
			<div class="timeline-left-btn">
				<img src="img/help.png" width="24" />
			</div>
			<div class="timeline-body">
				<ul>
					<li>
						<hr />&nbsp;
					</li>
					<li>
						<hr /> 1月
					</li>
					<li>
						<hr /> 2月
					</li>
					<li>
						<hr /> 3月
					</li>
					<li>
						<hr /> 4月
					</li>
					<li>
						<hr /> 5月
					</li>
					<li>
						<hr /> 6月
					</li>
				</ul>
			</div>
			<div class="timeline-right-btn">
				<img src="img/help.png" width="24" />
			</div>
			<div class="timeline-close">
				x
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script type="text/javascript">
			axios.get('http://47.92.29.173:3000/xmlist')
				.then(function(res) {
					if(res.status == 200) {
						console.log(res.data.length);
					}
				})
				.catch(function(error) {
					console.log(error);
				});

			var app2 = new Vue({
				el: '#table-container',
				data: {
					message: '页面加载于 ' + new Date().toLocaleString(),
					data: {
						header: ['部门', '投标项目数', '已中标项目数', '未中标项目数'],
						dataList: [{
								"name": "规划所",
								"tbxms": 1,
								"nzbxms": 1,
								"wzbxms": 0
							},
							{
								"name": "规研所",
								"tbxms": 3,
								"nzbxms": 3,
								"wzbxms": 0
							},
							{
								"name": "交通所",
								"tbxms": 1,
								"nzbxms": 1,
								"wzbxms": 0
							},
							{
								"name": "城设所",
								"tbxms": 2,
								"nzbxms": 2,
								"wzbxms": 0
							},
							{
								"name": "区域所",
								"tbxms": 1,
								"nzbxms": 0,
								"wzbxms": 1
							}
						]
					}
				}
			});

			var option = {
				backgroundColor: '#f6f6f6',
				title: {
					text: '',
					subtext: ''
				},
				tooltip: {
					trigger: 'axis'
				},
				legend: {
					data: ['投标项目数', '已中标项目数', '未中标项目数'],
					bottom: 5
				},
				toolbox: {
					show: true,
					orient: 'vertical',
					feature: {
						mark: {
							show: true
						},
						show: true,
						magicType: {
							show: true,
							type: ['line', 'bar'],
							title: {
								line: "折线",
								bar: "柱形"
							}
						},
						restore: {
							show: true,
							title: "还原"
						},
						saveAsImage: {
							show: true,
							title: "导出"
						}
					}
				},
				calculable: true,
				xAxis: [{
					type: 'category',
					data: ['规划所', '规研所', '交通所', '城设所', '区域所', '贺州分院']
				}],
				yAxis: [{
					type: 'value'
				}],
				series: [{
					name: '投标项目数',
					type: 'bar',
					itemStyle: {
						normal: {
							color: 'rgb(186,196,234)',
							label: {
								show: true,
								position: 'top',
								textStyle: {
									fontSize: 18
								}
							}
						}
					},
					data: [1, 3, 1, 2, 1, 0]
				}, {
					name: '已中标项目数',
					type: 'bar',
					itemStyle: {
						normal: {
							color: 'rgb(69,116,208)',
							label: {
								show: true,
								position: 'top',
								textStyle: {
									fontSize: 18
								}
							}
						}
					},
					data: [1, 2, 1, 2, 0, 0]
				}, {
					name: '未中标项目数',
					type: 'bar',
					itemStyle: {
						normal: {
							color: 'rgb(236,78,155)',
							label: {
								show: true,
								position: 'top',
								textStyle: {
									fontSize: 18
								}
							}
						}
					},
					data: [0, 1, 0, 0, 1, 0]
				}]
			}
		</script>
	</body>

</html>