html {
	width: 100%;
	height: 100%;
	border: 0 none;
	padding: 0;
	margin: 0;
	overflow-y: auto;
	overflow-x: auto
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 12px;
	font-family: Arial, Helvetica, '宋体';
	background-color: #FFF;
	color: #000;
	overflow: hidden;
	min-height: 300px;
	line-height: 18px
}

table,
tr,
th,
td {
	border: 0 none
}

.request_hidden {
	position: absolute;
	top: -999px;
	left: -999px;
	width: 1px;
	height: 1px;
	overflow: hidden
}

img,
table {
	border: 0 none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

dl,
dt,
dd,
ul,
li,
ol,
form,
p,
td,
th,
input,
object {
	padding: 0;
	margin: 0;
	outline: 0 none
}

li {
	list-style: none
}

.SuccinctButton {
	padding: 1px 6px;
	background: #fbfbfb;
	border: 1px solid #ddd;
	height: 22px;
	line-height: 22px;
	text-align: center;
	color: #444;
	text-decoration: none
}

.SuccinctButton:hover {
	background: #fff;
	text-decoration: none;
	color: #166abe
}

.ChkboxLabel input,
.ChkboxLabel span {
	vertical-align: middle
}

.ChkboxLabel input {
	*margin: 0 -3px
}

.InlineBlock {
	display: inline-block;
	zoom: 1;
	*display: inline;
	_display: inline
}

.Bolder {
	font-weight: bolder
}

.yenFont {
	font-family: Arial, Helvetica, '宋体';
	margin: 0 4px
}

#Header {
	width: 100%;
	height: 120px;
	position: relative;
	z-index: 1000
}

#Search {
	width: 900px;
	height: 84px;
	z-index: 2;
	position: relative;
	margin-top: 5px
}

#Logo {
	position: absolute;
	top: 0;
	left: 0;
	padding: 3px 0 0 9px;
	z-index: 10
}

#logo_img {
	height: 45px;
	width: 200px;
	margin: 14px 0 0 30px;
	pointer-events: none
}

#Other {
	float: right;
	position: absolute;
	right: 10px;
	top: 0;
	z-index: 99999
}

#Other .item {
	float: left;
	position: relative
}

#Other .vline {
	float: left;
	position: relative;
	top: 13px;
	border-right: 1px dotted #cfcfcf;
	height: 10px;
	margin: 0 8px;
	_overflow: hidden
}

#Other .menu {
	position: relative
}

#Other .item a {
	color: #4c4c4c;
	padding-right: 0;
	text-decoration: none
}

#Other .MenuItem {
	display: inline-block;
	text-align: center;
	margin: 0 1px;
	cursor: pointer
}

#ceForQZ {
	width: 80px;
	float: right;
	text-align: right;
	line-height: 16px
}

#linksMenu {
	width: 54px
}

#otherMenu {
	width: 64px
}

.dropdown-menu-title {
	display: block;
	position: relative;
	z-index: 10002
}

.dropdown-menu-icon {
	border-color: #666 #fff #fff;
	border-style: solid;
	border-width: 4px 4px 0;
	font-size: 0;
	height: 0;
	line-height: 0;
	position: absolute;
	right: -5px;
	top: 8px;
	width: 0;
	transition: transform .2s ease-out;
	-webkit-transition: -webkit-transform .2s ease-out;
	-moz-transition: -moz-transform .2s ease-out;
	-o-transition: -o-transform .2s ease-out
}

.menu-open .dropdown-menu-icon {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2)
}

.dropdown-menu {
	display: none;
	position: absolute;
	top: -1px;
	left: -3px;
	background-color: #fff;
	border: 1px solid #bfbfbf;
	clear: both;
	margin-top: -1px;
	padding: 20px 1px 1px;
	white-space: nowrap;
	z-index: 51
}

.menu-open .dropdown-menu {
	display: block
}

.dropdown-menu li a {
	display: block;
	height: 25px;
	line-height: 25px;
	padding: 0 7px 0 10px;
	color: #666;
	text-decoration: none;
	text-align: left
}

.MapToolShare {
	background: url(http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/bgs8.png?v=v5.1.52) -397px -140px no-repeat
}

.MapToolFS {
	background: url(http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/bgs8.png?v=v5.1.52) -397px -40px no-repeat
}

.MapToolExitFS {
	background: url(http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/bgs8.png?v=v5.1.52) -397px -90px no-repeat
}

#Main {
	border-top: 1px solid #e6e6e6;
	overflow: hidden
}

#TextViewPanel {
	position: relative;
	float: left;
	width: 300px;
	height: 700px;
	margin-left: 0;
	_margin-right: -3px;
	border-right: 1px solid #cad3e0;
	overflow: hidden
}

#Main .RightDiv {
	position: relative;
	background-color: #eee;
	overflow: hidden
}

#Toolbar {
	background: #f5f5f5;
	border-bottom: 1px solid #dcdcdc;
	height: 34px;
	_height: 34px;
	*height: 34px;
	left: 0;
	line-height: 36px;
	position: absolute;
	overflow: hidden;
	top: 0;
	white-space: nowrap;
	width: 100%;
	z-index: 100
}

.MapTool {
	padding-left: 20px;
	display: block
}

#MapViewPanel {
	position: relative;
	overflow: hidden;
	top: 33px
}

#Map {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1
}

.TabList {
	position: relative;
	height: 30px;
	width: 425px;
	margin-top: -30px;
	overflow: hidden;
	z-index: 30
}

.TabList .SearchTab {
	float: left;
	position: relative;
	width: 104px;
	height: 28px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	font-size: 13px;
	border-left: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	border-top: 1px solid #dcdcdc;
	color: #0063b4
}

.SearchTab#FavTab {
	width: 103px;
	border-right: 1px solid #dcdcdc
}

#Searching {
	position: absolute;
	left: 612px;
	color: #8fadde;
	top: 38px
}

#Searching img {
	vertical-align: top;
	margin-top: 6px
}

#Searching span {
	color: #8fadde;
	margin-right: 5px
}

.SearchPanels {
	position: relative;
	margin-top: -1px;
	z-index: 4
}

.SearchPanels table {
	position: relative
}

#TabContainer {
	position: absolute;
	margin: 8px 0 0 300px;
	color: #181818
}

#TabContainer form,
#TextViewPanel .ResultPanel,
#BusSearchLink,
#BusInfoSearchLink {
	display: none
}

#TabContainer.PoiTab #PoiForm,
#TabContainer.BusTab #BusForm,
#TabContainer.BusInfoTab #BusForm,
#TabContainer.NavTab #NavForm,
#TabContainer.FavTab #PoiForm {
	display: block
}

#PoiViewPanel {
	height: 100%
}

#TextViewPanel #PoiViewPanel,
#TextViewPanel #BusViewPanel,
#TextViewPanel #BusInfoViewPanel,
#TextViewPanel #NavViewPanel,
#TextViewPanel #FavViewPanel,
#TextViewPanel #XpViewPanel,
#TabContainer #BusInfoSearchLink,
#TabContainer #BusSearchLink {
	display: none;
	position: relative
}

#TextViewPanel.PoiTab #PoiViewPanel,
#TextViewPanel.BusTab #BusViewPanel,
#TextViewPanel.BusInfoTab #BusInfoViewPanel,
#TextViewPanel.NavTab #NavViewPanel,
#TextViewPanel.FavTab #FavViewPanel,
#TextViewPanel.XpTab #XpViewPanel,
#TextViewPanel.WalkTab #WalkViewPanel,
#TextViewPanel.Loading #loadingPanel,
#TabContainer.BusTab #BusInfoSearchLink,
#TabContainer.BusInfoTab #BusSearchLink {
	display: block;
	position: relative
}

#TabContainer.PoiTab #PoiTab,
#TabContainer.BusTab #BusTab,
#TabContainer.BusInfoTab #BusTab,
#TabContainer.NavTab #NavTab,
#TabContainer.FavTab #FavTab {
	font-weight: bold;
	background: #deedff;
	font-weight: bold
}

#TabContainer .SearchTab>span {
	display: block;
	position: absolute;
	top: 5px;
	left: 42px;
	width: 20px;
	height: 20px;
	background-image: url(http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/icons.png?v=v5.1.52);
	background-repeat: no-repeat;
	background-position: -3px -291px
}

#TabContainer #PoiTab.SearchTab>span {
	background-position: -3px -291px
}

#TabContainer #BusTab.SearchTab>span {
	background-position: -26px -291px
}

#TabContainer #NavTab.SearchTab>span {
	background-position: -49px -291px
}

#TabContainer #FavTab.SearchTab>span {
	background-position: -74px -291px
}

#TabContainer.PoiTab #PoiTab.SearchTab>span {
	background-position: -3px -315px
}

#TabContainer.BusTab #BusTab.SearchTab>span {
	background-position: -26px -315px
}

#TabContainer.NavTab #NavTab.SearchTab>span {
	background-position: -49px -315px
}

#TabContainer.FavTab #FavTab.SearchTab>span {
	background-position: -74px -315px
}

table.search_layout {
	border: 1px solid #dcdcdc;
	border-right: 0 none
}

.search_assist {
	position: absolute;
	top: 25px;
	left: 500px;
	width: 120px
}

.search_assist>a {
	text-decoration: none;
	color: #666
}

#SearchForms .SearchInput {
	margin: 0;
	border: 0 none;
	background-color: #fff;
	vertical-align: top;
	height: 26px;
	padding: 2px 5px;
	line-height: 26px;
	*line-height: 26px;
	line-height: 26 px\9;
	font-size: 16px
}

.exchange {
	position: absolute;
	top: 8px;
	width: 30px;
	height: 24px;
	background-image: url(http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/route_search_switch_icon.png?v=v5.1.52);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer
}

.InputWrap,
.SearchText {
	position: relative
}

.InputWrap>.SuggestWrap {
	position: relative;
	top: -2px;
	*top: 0
}

#login_nick {
	margin-right: 9px
}

.InputWrap {
	padding: 0 2px;
	*padding-top: 2px;
	*height: 32px;
	overflow: hidden
}

.SearchText {
	padding: 0 5px;
	color: #fff
}

#FullScreen {
	position: absolute;
	top: 50%;
	left: -1px;
	margin-top: -40px;
	z-index: 201;
	width: 21px;
	height: 58px;
	cursor: pointer
}

.FullScreenFrame {
	position: absolute;
	top: 50%;
	margin-top: -41px;
	z-index: 200;
	width: 17px;
	height: 57px;
	border: 0
}

.SubmitInputContainer {
	background: #f5f5f5;
	border-left: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc
}

.SubmitInput {
	width: 75px;
	height: 66px;
	text-align: center;
	border: 0;
	vertical-align: top;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: url(http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/search-icon.png?v=v5.1.52);
	background-repeat: no-repeat;
	background-position: center
}

#PoiSearch,
#FavSearch {
	width: 404px
}

#BusFromSearch,
#BusToSearch,
#NavFromSearch,
#NavToSearch {
	width: 190px
}

#syn_panel {
	background-color: #fff;
	padding: 10px;
	z-index: 30;
	border: 1px solid #DDD
}

#SynLabel {
	font-weight: bold;
	color: #555
}

.ControlLink {
	color: #0037ab;
	text-decoration: underline;
	cursor: pointer;
	font-weight: normal;
	vertical-align: middle
}

.ControlLabel {
	font-weight: bold;
	color: #555
}

.tuan_panel {
	margin: 8px;
	width: 380px
}

.tuan_choice {
	position: relative;
	margin-bottom: 5px
}

.tuan_close {
	position: absolute;
	top: 8px;
	right: 12px;
	height: 9px;
	width: 9px;
	cursor: pointer
}

.tuan_label {
	position: absolute;
	color: #535a61;
	left: 0;
	_left: -40px
}

.tuan_area {
	margin-left: 40px
}

.tuan_area span {
	color: #0083c6;
	margin-right: 4px;
	cursor: pointer;
	padding: 1px 3px
}

#Tabs {
	width: 100%;
	height: 27px;
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 1px solid #aebbb5;
	z-index: 2;
	color: #4c4c4c;
	background: #fff
}

.Tabs {
	overflow: hidden;
	height: 27px;
	line-height: 27px
}

.TabsTab {
	border-right: 1px solid #aebbb5;
	padding: 0 7px;
	cursor: pointer;
	background: url(http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/bg.png?v=v5.1.52) repeat-x;
	background-position: 0 -100px
}

.TabsContent {
	padding: 0 13px
}

.TabsTabHighlight {
	font-weight: bold;
	padding: 0 7px
}

.MapTools {
	float: right;
	height: 34px;
	line-height: 34px;
	margin: 2px 0 1px 0;
	position: relative;
	text-align: center;
	color: #406593
}

.MapTools a {
	color: #406593;
	outline: 0;
	text-decoration: none;
	margin-left: 8px
}

.MapTools a:hover {
	color: #406593;
	text-decoration: none
}

.MapTools a:active {
	color: #fff;
	outline: 0;
	text-decoration: none;
	margin-left: 8px
}

#MapSwitch {
	position: relative;
	float: left
}

.mapSwitchBtn {
	position: absolute;
	width: 45px;
	height: 35px;
	margin: -1px -1px;
	cursor: pointer;
	z-index: 5
}

.mapSwitchBtnPano {
	position: absolute;
	width: 62px;
	height: 36px;
	line-height: 34px;
	margin-left: -1px;
	cursor: pointer;
	float: left
}

.mapSwitchBtnInvitePano {
	float: left;
	position: relative;
	width: 88px;
	height: 25px;
	top: -1px;
	margin: -1px -1px;
	cursor: pointer
}

.mapSwitchBtn,
.mapSwitchBtnPano {
	border-right: 1px solid #dcdcdc;
	text-align: center;
	color: #333;
	font-size: 14px
}

.mapToolbarButtonActived {
	background-color: #deedff;
	color: #166abe;
	font-weight: bold
}

#MapSwitchContent {
	position: absolute;
	top: 0;
	z-index: 30
}

#MapSwitchContent .MapSwitchContent {
	position: relative;
	display: none;
	background-color: #fff;
	border: 1px solid #a8b7d2;
	border-radius: 3px
}

#panoNewTips {
	width: 12px;
	height: 12px;
	background: url("http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/bgs8.png?v=v5.1.52") -460px 0 no-repeat;
	position: absolute;
	left: 181px;
	top: -1px;
	z-index: 7;
	overflow: hidden;
	display: none
}

#CityArea {
	position: relative;
	float: left;
	white-space: nowrap;
	text-align: center;
	line-height: 24px;
	height: 34px;
	color: #fff;
	background: #7fb8ff;
	padding-right: 10px;
	cursor: pointer;
	overflow: hidden
}

#CityArea:hover {
	color: #fff
}

.CityAreaContent {
	background-position: 0 -233px;
	float: left;
	height: 34px;
	line-height: 34px;
	*line-height: 35px;
	padding: 0 7px 0 15px
}

.CityAreaBorder2 {
	float: left;
	width: 18px;
	height: 18px;
	background-image: url(http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/icons.png?v=v5.1.52);
	background-repeat: no-repeat;
	background-position: -13px -165px;
	margin-top: 8px
}

#CityArea span {
	font-size: 14px;
	_font-size: 14px;
	font-weight: bold;
	position: relative
}

#CityArea a {
	margin-left: 10px
}

#login_div {
	display: none
}

img {
	border: 0;
	vertical-align: bottom
}

a {
	color: #166abe;
	outline: 0;
	font-size: 100%;
	outline: 0
}

a:hover {
	text-decoration: underline
}

hr,
ul,
li {
	margin: 0;
	padding: 0
}

ul {
	list-style: none
}

textarea {
	resize: none
}

.Hide {
	display: none
}

.Show {
	display: block
}

.MarginCenter {
	margin: 0 auto
}

.Inline {
	display: inline
}

.ClearFix:before,
.ClearFix:after {
	content: "";
	display: table
}

.ClearFix:after {
	clear: both
}

.ClearFix {
	zoom: 1
}

.FloatLeft {
	float: left
}

.FloatRight {
	float: right
}

.FloatLeft {
	float: left
}

.FloatRight {
	float: right
}

.bold {
	font-weight: bold
}

.TitleInfo {
	color: #6b6b6b;
	margin: 10px 5px 5px 25px
}

.TitleInfo a {
	font-weight: normal
}

.TitleInfo p {
	margin: 0
}

.TitleInfo a:hover {
	font-weight: normal
}

.TitleInfo4 {
	color: #6b6b6b;
	margin: 10px 5px 5px 5px
}

.RedPoint {
	color: #00a300;
	font-weight: bold
}

.DefaultSpan,
.DefaultSpanHover {
	color: #166abe;
	margin-right: 8px;
	cursor: pointer;
	font-size: 12px
}

.CursorPointer {
	cursor: pointer
}

.Clear {
	clear: both;
	overflow: hidden
}

.LableBackground {
	background-color: #e4e4e4;
	padding: 10px 15px;
	margin: 5px
}

.Block {
	margin: 15px 0
}

.Border {
	border: 1px solid #a8b7d2
}

.ErrorBlock {
	margin: 10px 0 0 10px
}

.ErrorBlock li {
	margin: 10px 0
}

.ErrorTipTitle {
	margin: 15px 0 0 15px;
	font-size: 15px
}

.ErrorTipList {
	margin: 10px 10px 0;
	padding-left: 25px
}

.ErrorTipList li {
	margin: 10px 0;
	list-style: decimal
}

.ErrorHelp tr {
	line-height: 25px
}

.ErrorHelp table {
	margin-left: 15px
}

.ErrorHelp span,
.ErrorHelp ul {
	color: #6b6b6b
}

.ErrorTitle {
	font-weight: bold;
	color: #6b6b6b
}

.ErrorContent {
	color: #000;
	width: 230px;
	overflow: hidden
}

.ErrorContainer {
	display: inline-block;
	width: 230px;
	overflow: hidden
}

.ErrorA {
	color: #0037a8;
	cursor: pointer;
	text-decoration: underline;
	display: inline
}

.ErrorA1 {
	color: #406593;
	cursor: pointer;
	text-decoration: underline;
	display: inline
}

.PoiDetailDiv {
	margin: 0 20px 10px
}

.PoiCollectBtn {
	height: 15px;
	line-height: 15px;
	position: relative;
	top: 3px;
	width: 15px;
	font-size: 0;
	cursor: pointer
}

.Separator {
	border-top: 1px solid #e5ebf3;
	height: 1px;
	overflow: hidden
}

.MarkMask {
	position: absolute;
	opacity: .2;
	filter: alpha(opacity=20);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black
}

.ResultPanel {
	position: relative;
	width: 100%;
	height: 100%
}

.CloseBtn {
	position: absolute;
	cursor: pointer;
	margin: 10px 11px 0 0;
	right: 0;
	top: 0;
	width: 12px;
	height: 12px;
	background: url('http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/close_icon.png?v=v5.1.52') no-repeat
}

.Menu {
	background-color: #fff;
	height: 100%;
	width: 100%;
	z-index: 30;
	border: 1px solid #DDD
}

.Menu_ {
	background-color: #fff;
	height: 100%;
	width: 100%;
	z-index: 30
}

.PageDiv {
	height: 25px;
	position: relative
}

.PageDiv td {
	height: 25px;
	vertical-align: middle;
	text-align: center
}

.PageDiv .PrePage,
.PageDiv .NextPage {
	width: 40px
}

.PageDiv .FirstPage,
.PageDiv .LastPage {
	width: 30px
}

.PageDiv .Page a,
.PageDiv .Page span {
	border: 1px solid #a9b8d4;
	zoom: 1;
	color: #4b6aa3;
	margin: 0 2px;
	vertical-align: middle;
	width: 19px;
	height: 19px;
	line-height: 19px;
	text-decoration: none
}

.PageDiv .Page a {
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-out;
	transition: all .2s ease-out
}

.PageDiv .Page a div {
	cursor: pointer
}

.PageDiv span {
	background-color: #ccdefe;
	cursor: default;
	font-weight: bold
}

.PageDiv a:hover {
	border: 1px solid #4b6aa3
}

.PageDiv div {
	height: 17px;
	text-align: center;
	position: relative
}

.PageDiv .Page div {
	width: 17px
}

.PageDiv .PrePage a,
.PageDiv .NextPage a,
.PageDiv .FirstPage a {
	border: 0 none
}

.DefaultDiv {
	margin: 13px 0 15px 20px
}

#XpDefaultDiv {
	margin: 15px 0 15px 10px
}

.DefaultDiv a {
	margin-right: 3px;
	line-height: 21px;
	white-space: nowrap
}

.DefaultDiv .DefaultBlock {
	margin: 0 15px 15px 0
}

.DefaultDiv h1 {
	color: #9a9a9a;
	font-size: 12px;
	margin: 0 0 10px;
	font-weight: normal
}

#BusLSKeyword {
	border: 1px solid #dedede;
	padding: 0;
	width: 210px;
	height: 30px;
	overflow: hidden;
	line-height: 30px;
	text-indent: 4px;
	background-color: #fff
}

.shad {
	background: none repeat scroll 0 0 #000;
	overflow: hidden;
	position: absolute;
	top: 1px;
	z-index: 199
}

.shad-wt div,
.shad-wb div {
	width: 100%
}

.shad-hl div,
.shad-hr div {
	height: 100%
}

#MapShad .h1 {
	height: 1px
}

#MapShad .h2 {
	height: 2px
}

#MapShad .h3 {
	height: 3px
}

#MapShad .h4 {
	height: 4px
}

#MapShad .h5 {
	height: 5px
}

#MapShad .w1 {
	width: 1px
}

#MapShad .w2 {
	width: 2px
}

#MapShad .w3 {
	width: 3px
}

#MapShad .w4 {
	width: 4px
}

#MapShad .w5 {
	width: 5px
}

#MapShad .o1 {
	opacity: .1;
	filter: alpha(opacity=10)
}

#MapShad .o2 {
	opacity: .08;
	filter: alpha(opacity=8)
}

#MapShad .o3 {
	opacity: .05;
	filter: alpha(opacity=5)
}

#MapShad .o4 {
	opacity: .03;
	filter: alpha(opacity=3)
}

#MapShad .o5 {
	opacity: .01;
	filter: alpha(opacity=1)
}

.NavTaxiIcon {
	width: 20px;
	height: 20px;
	margin: 0 auto;
	font-size: 0;
	text-indent: -999px;
	background-image: url(http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/taxi.png?v=v5.1.52);
	background-repeat: no-repeat
}

.fav_adv span {
	color: #4d4d4d;
	margin-left: 10px
}

.fav_adv p {
	padding-top: 8px
}

.fav_adv .button_close {
	position: absolute;
	right: 12px;
	top: 17px;
	width: 14px;
	height: 14px;
	cursor: pointer
}

.news_new {
	left: 300px;
	position: absolute;
	top: -3px;
	z-index: 2
}

.HelpBlock {
	margin-left: 6px;
	position: relative;
	_zoom: 1
}

@-moz-document url-prefix() {
	.HelpBlock {
		margin-left: 6px;
		position: relative;
		display: inline-block
	}
}

.NewTopIcon {
	position: relative;
	top: -10px
}

.actionMenu {
	height: 30px;
	line-height: 30px;
	padding-left: 30px;
	visibility: hidden;
	clear: both;
	text-align: right
}

.actionMenu a {
	color: #4c4c4c;
	float: left;
	text-indent: 22px;
	margin-right: 4px
}

.actionMenu a:hover {
	text-decoration: none
}

.actionMenu a div {
	height: 20px;
	width: 20px;
	margin-top: 3px;
	background: blue;
	position: absolute;
	background: url("http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/icons.png?v=v5.1.52") no-repeat scroll 0 -180px transparent
}

.actionMenu a div.fav_poi_start {
	background-position: -20px -180px
}

.actionMenu a div.fav_poi_end {
	background-position: 0 -180px
}

.actionMenu a div.fav_poi_round {
	background-position: -40 -180px
}

.actionMenu a div.fav_poi_show {
	background-position: -60 -180px
}

.ShareBtn {
	background: url("http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/operIcons.png?v=v5.1.52") no-repeat scroll 0 -150px transparent;
	color: #4b6aa3;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	height: 16px;
	margin-right: 5px;
	line-height: 16px;
	padding-left: 12px;
	position: relative;
	text-decoration: none
}

.DetailSubBtn {
	background: url("http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/operIcons.png?v=v5.1.52") no-repeat scroll 0 -23px transparent;
	color: #4b6aa3;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	height: 16px;
	margin-right: 5px;
	line-height: 16px;
	padding-left: 12px;
	position: relative;
	text-decoration: none;
	padding-top: 1px
}

.ShareBtnQPlus {
	background: url("http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/shareQPlus.png?v=v5.1.52") no-repeat scroll 0 0 transparent;
	color: #4b6aa3;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	width: 94px;
	height: 24px;
	margin-right: 5px;
	position: relative;
	text-decoration: none;
	text-indent: -9000px
}

.SMSBtn {
	background: url("http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/operIcons.png?v=v5.1.52") no-repeat scroll 0 -100px transparent;
	color: #4b6aa3;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	height: 16px;
	margin-right: 5px;
	line-height: 16px;
	padding-left: 12px;
	position: relative;
	text-decoration: none
}

.XPBtn {
	background: url("http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/icons.png?v=v5.1.52") no-repeat scroll -1px -47px transparent;
	color: #4b6aa3;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	height: 16px;
	line-height: 16px;
	padding-left: 15px;
	position: relative;
	text-decoration: none;
	margin-right: 5px
}

.DetailBtn {
	color: #4d4d4d;
	text-decoration: none;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	height: 16px;
	line-height: 16px;
	border: 1px solid #ddd;
	padding: 1px 6px;
	margin: 0 5px;
	*vertical-align: -1px
}

.DetailBtn:hover {
	text-decoration: none;
	background: #fff
}

.BookBtn {
	background: url("http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/operIcons.png?v=v5.1.52") no-repeat scroll 0 -200px transparent;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	height: 16px;
	line-height: 16px;
	padding-left: 15px;
	position: relative
}

.BookBtn:active {
	text-decoration: none
}

.infowindowBtn {
	color: #4b6aa3;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	height: 16px;
	line-height: 16px;
	padding-left: 17px;
	position: relative;
	text-decoration: none;
	top: 0
}

.XPBtn a,
.DetailBtn a {
	color: #4b6aa3;
	font-size: 12px
}

.XPBtn a:hover,
.DetailBtn a:hover {
	color: #4b6aa3;
	text-decoration: underline;
	font-size: 12px
}

.clear {
	font-size: 0;
	line-height: 0;
	height: 0;
	clear: both
}

.StreetViewPageTitle {
	padding-left: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #6f6f6f;
	font-size: 14px;
	margin-bottom: 8px;
	margin-top: 24px
}

.StreetViewPageBlock {
	margin-top: 12px;
	margin-left: 5px;
	height: 65px;
	overflow: hidden;
	position: relative
}

#MoreStreetCity {
	text-decoration: underline;
	color: #adadad;
	margin-right: 5px
}

.StreetViewPageTitle2 {
	position: absolute;
	color: #6f6f6f;
	left: 0;
	line-height: 21px
}

.StreetViewSample {
	padding-left: 45px
}

.StreetViewList {
	line-height: 24px
}

.StreetViewListCity {
	white-space: nowrap;
	margin-right: 5px
}

.StreetViewListCity:hover {
	text-decoration: underline
}

.StreetViewListImg {
	float: left;
	margin-left: 8px
}

.StreetViewListBlock {
	margin-top: 5px
}

.StreetViewListBlock a {
	color: #0083c6;
	text-decoration: none
}

.restrictWeek {
	text-align: right;
	clear: both;
	margin-left: 25px
}

.restrictWeek li {
	float: left;
	margin-right: 20px;
	width: 85px
}

.yonghe_panel_close {
	background-image: url("http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/close.png?v=v5.1.52");
	cursor: pointer;
	height: 9px;
	position: absolute;
	right: 3px;
	top: 3px;
	width: 9px;
	overflow: hidden
}

#s_bar {
	padding: 0 12px;
	overflow: hidden;
	zoom: 1;
	height: 28px;
	line-height: 28px;
	min-width: 982px;
	background-color: #f8f8f8
}

#s_bar a {
	color: #4c4c4c;
	font-size: 12px;
	padding-right: 18px;
	font-family: Arial, Helvetica, '宋体'
}

div#s_bar a:hover {
	text-decoration: underline
}

#s_bar .new {
	position: relative;
	color: #e00404
}

#s_bar .newTip {
	position: absolute;
	background: url(http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/new.png?v=v5.1.52) no-repeat;
	width: 22px;
	height: 11px;
	top: -7px;
	left: 44px
}

#s_bar a:link,
#s_bar a:visited {
	text-decoration: none
}

#s_bar .active:link,
#s_bar .active:visited {
	font-weight: bold;
	text-decoration: none
}

#s_bar .active:hover {
	font-weight: bold;
	text-decoration: underline
}

.loadingImg {
	background-image: url("http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/loading3.gif");
	width: 44px;
	height: 44px;
	width: 59px;
	height: 76px
}

.loadingDiv {
	width: 70px;
	margin: 50% auto
}

.loadingText {
	color: #515151;
	display: inline-block;
	margin-top: 15px;
	font-weight: bold
}

.blackBoldText {
	color: #000;
	font-weight: bold
}

.exitTitle {
	width: 165px;
	font-size: 12px;
	font-weight: 100
}

.exitSVIcon {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 15px;
	top: 0;
	display: block
}

.exitSVIcon img {
	width: 80px;
	height: 60px;
	cursor: pointer;
	border: 1px solid #a9b7d1
}

.exitNoneSvid .exitTitle {
	width: 100%
}

.exitNoneSvid .exitSVIcon {
	display: none
}

.ActivityDialog {
	position: relative;
	overflow: hidden;
	width: 340px;
	height: 300px
}

.ActivityDiv a {
	color: #fb4357
}

#ActivityBan {
	position: absolute;
	right: 0;
	bottom: 0
}

.QCBlock {
	clear: both;
	margin: 10px 0 0 0;
	font-weight: bold;
	color: #515151
}

.PoiListTitleInfo .QCBlock {
	margin-bottom: 0
}

.QCBlock a {
	color: #17649a
}

.PoiResultDiv .QCBlock p {
	margin: 0
}

.QCBlock1 {
	clear: both;
	margin: 10px 0 0 0;
	font-weight: bold;
	color: #515151;
	line-height: 17px
}

.PoiCitys_divbox {
	margin-left: 30px;
	line-height: 23px;
	height: 23px
}

.PoiCitys_divbox a {
	display: block;
	float: left
}

.PoiCitys_divbox span {
	margin: 3px 5px;
	width: 17px;
	height: 17px;
	background: url('http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/poicity.jpg') no-repeat;
	overflow: hidden;
	display: none;
	float: left
}

.syn_panel_title {
	color: #535a61;
	margin-bottom: 3px
}

.syn_panel_list {
	line-height: 20px
}

.syn_panel_list a {
	margin-right: 0;
	cursor: pointer;
	white-space: nowrap;
	padding: 1px 3px;
	*padding: 1px 2px;
	text-decoration: none
}

.syn_panel_list a:hover {
	text-decoration: underline
}

.syn_panel_search {
	margin-top: 8px;
	position: relative
}

.syn_panel_search table {
	border: 1px solid #dedede
}

#syn_panel_search_input {
	vertical-align: top;
	border: 0;
	height: 17px;
	width: 200px;
	background: white;
	line-height: 17px;
	font-size: 12px;
	padding: 2px
}

#syn_panel_search_label {
	position: absolute;
	height: 16px;
	line-height: 16px;
	left: 6px;
	top: 4px;
	color: gray;
	cursor: text
}

#syn_panel_search_submit {
	width: 40px;
	height: 25px;
	border: 0;
	padding: 0;
	cursor: pointer;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	background-color: #efefef;
	background-image: url(http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/search-icon-small.png?v=v5.1.52);
	background-repeat: no-repeat;
	background-position: center
}

#syn_panel_search_submit:focus {
	outline: 0
}

td#syn_panel_search_submit_wrap {
	border-left: 1px solid #dedede;
	background-color: #efefef
}

#syn_panel_search_submit:hover,
td#syn_panel_search_submit_wrap:hover {
	background-color: #f5f5f5
}

#syn_panel_result_keyword {
	color: #166abe
}

.syn_panel_result {
	display: none;
	margin-top: -4px;
	margin-bottom: -6px
}

.syn_panel-result .syn_panel_result {
	display: block
}

.syn_panel-result .syn_panel_close {
	top: 12px
}

.syn_panel-result .syn_panel_title,
.syn_panel-result .syn_panel_list,
.syn_panel-result .syn_panel_search {
	display: none
}

.syn_panel_close {
	position: absolute;
	top: 14px;
	right: 15px;
	height: 9px;
	width: 9px;
	cursor: pointer
}

.trafficBg {
	height: 29px;
	overflow: hidden;
	line-height: 26px
}

.corner {
	width: 10px
}

.trafficBg span {
	display: inline-block;
	line-height: 28px
}

.poiTag {
	color: #4c4c4c;
	height: 25px;
	line-height: 25px;
	overflow: hidden
}

.poiTag span {
	margin-right: 5px
}

.ONLYSOSO {
	width: 56px;
	height: 16px;
	display: inline-block;
	background: url('http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/SOSOwenwen.png?v=v5.1.52') no-repeat;
	position: relative;
	top: 2px
}

.SOSOwenwen {
	width: 90px;
	height: 16px;
	display: inline-block;
	background: url('http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/SOSOwenwen.png?v=v5.1.52') no-repeat;
	position: relative;
	top: 2px
}

.districtjump {
	margin-bottom: 20px;
	padding: 5px 5px 5px 0
}

.TitleInfo5 {
	color: #6b6b6b;
	margin: 10px 5px 5px 15px
}

.mid_bg {
	background-color: #f2f2f2;
	padding: 7px 5px;
	margin-right: 10px;
	font-weight: bold
}

.mid_notify {
	margin: 5px 0 5px 5px;
	font-weight: bold;
	color: #515151
}

.no_result_butnotify {
	clear: both;
	color: #6b6b6b;
	margin: 20px 5px 5px 20px;
	line-height: 20px
}

.districtjump_top {
	background-color: #f2f2f2;
	padding-left: 5px
}

.districtsetdefault {
	margin-right: 0;
	padding: 5px;
	line-height: 26px
}

#setdefaultcity_index {
	display: inline-block;
	cursor: pointer
}

.BusErrorContainer div.error_img {
	background: url('http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/service_error.gif') no-repeat;
	width: 79px;
	height: 46px;
	margin: 20px 0 10px 100px
}

.BusErrorContainer div.error_content {
	font-size: 12px;
	font-family: Arial, Helvetica, '宋体';
	color: black;
	line-height: 25px;
	text-align: center;
	font-weight: normal
}

.BusErrorContainer div.error_content a {
	color: #406593;
	text-align: center;
	font-weight: normal
}

#PoiDefaultDiv {
	margin: 20px 20px 0
}

.ShareLinkShareToDiv {
	font-size: 13px;
	line-height: 20px;
	padding-top: 5px
}

.ShareLinkShareToDiv .text {
	float: left;
	display: block;
	line-height: 22px
}

.ShareLinkShareToDiv .item img {
	margin-right: 2px;
	width: 20px;
	height: 20px;
	border: 0
}

#setdefaultcity_index {
	width: 63px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	background: url("http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/setDefaultCity.png?v=v5.1.52") no-repeat
}

.thumbnails_infowindow {
	width: 66px;
	height: 50px;
	float: right;
	margin: 0 0 10px
}

.thumbnails {
	*float: right
}

.detailsLink {
	margin-top: 10px
}

.noPicdetailsLink {
	float: right;
	margin: 0
}

.detailsLink a,
.noPicdetailsLink a {
	color: #4b6aa3
}

#recommendMenu .recommendMenuItem {
	color: #6d6d6d
}

.recommendButton {
	margin: 10px 0 0;
	overflow: hidden;
	clear: both
}

.recommendButton .ToolsTabBorder1 {
	margin: 0 2px;
	height: 1px;
	line-height: 1px;
	overflow: hidden
}

.recommendButton .ToolsTabBorder2 {
	margin: 0 1px;
	height: 1px;
	line-height: 1px;
	font-size: 1px
}

.recommendButton .ToolsTabContent {
	background-image: url("http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/down.png?v=v5.1.52");
	background-position: 96% center;
	background-repeat: no-repeat;
	color: #4b6aa3;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	text-align: center
}

.recommendButton .ToolsTabHover {
	cursor: pointer
}

.recommendButton .ToolsTab .ToolsTabBorder {
	border: 1px solid #e5e8e3;
	border-top: 0;
	border-bottom: 0
}

.recommendButton .ToolsTabHover .ToolsTabBorder {
	border: 1px solid #a5b4d1;
	border-top: 0;
	border-bottom: 0
}

.recommendButton .ToolsTab .ToolsTabBack {
	background: #e5e8e3
}

.recommendButton .ToolsTabHover .ToolsTabBack {
	background: #a5b4d1
}

#aroundTransit {
	width: 100%;
	overflow: hidden
}

.hotel_price {
	color: #ef001d
}

.hotel_level,
.hotel_level a {
	color: #9a9a9a
}

.hotel_level .hotel_star {
	display: inline-block;
	width: 11px;
	height: 11px;
	background: url(http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/stars.png?v=v5.1.52) no-repeat left bottom;
	_margin-right: 2px;
	_background: url(http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/stars.png?v=v5.1.52) no-repeat left -10px
}

.group_info {
	background: url(http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/hotel_groupon.gif) no-repeat left center;
	padding-left: 25px
}

.InfoWindowTitle .POIItemName .iwTitle {
	text-decoration: none;
	color: #43629b;
	white-space: normal
}

.iwTitle:hover {
	text-decoration: underline
}

#winRichArea .textBlock span {
	float: left
}

#winRichArea .textBlock p {
	margin-left: 45px
}

#IWSubwayLineInfo .lineDetailBlock {
	padding: 5px 16px 0 0;
	color: #4c4c4c
}

#IWSubwayLineInfo .subTitle {
	padding-bottom: 0;
	text-align: left;
	padding-left: 8px
}

#IWSubwayLineInfo .lineName {
	border: 1px solid #e5ebf3;
	border-bottom: 0;
	padding: 1px 8px 1px 8px;
	display: inline-block
}

#IWbulletin {
	color: #eb900d;
	background: #feefd1;
	text-align: center;
	padding: 4px 0
}

#IWbulletin span {
	position: relative;
	text-indent: 44px;
	display: inline-block;
	height: 12px;
	line-height: 12px;
	line-height: 14px!important
}

#IWbulletin #bulletinIcon {
	width: 33px;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	background: url(http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/poiDefaultPage.png?v=v5.1.52) 0 -515px;
	left: 0;
	top: -4px;
	position: absolute
}

#IWSubwayLineInfo {
	position: relative;
	left: 0;
	top: 0
}

#IWSubwayLineInfo .pic3D {
	position: absolute;
	float: right;
	top: 5px;
	right: 0;
	width: 73px;
	height: 51px;
	border: solid 1px #e8ebe6
}

#IWSubwayLineInfo #pic3DAlt {
	position: absolute;
	float: right;
	top: 59px;
	right: 0;
	text-decoration: none;
	color: #99acc5
}

#IWSubwayLineInfo a {
	position: absolute;
	float: right;
	top: 5px;
	right: 0;
	width: 73px;
	height: 51px;
	display: inline-block;
	text-decoration: none
}

#IWSubwayLineInfo .sIcon,
#IWSubwayLineInfo .eIcon {
	position: absolute
}

#IWSubwayLineInfo .sIcon {
	left: -96px;
	top: 0
}

#IWSubwayLineInfo table {
	position: relative
}

#IWSubwayLineInfo .timeIconBlock {
	float: left;
	position: relative;
	width: 16px;
	height: 16px;
	top: 3px;
	left: 0;
	overflow: hidden;
	zoom: 1
}

#IWSubwayLineInfo .timeTd {
	position: relative
}

#IWSubwayLineInfo .eIcon {
	left: -112px;
	top: 0
}

#IWSubwayLineInfo .sName {
	font-weight: bold
}

#IWSubwayLineInfo .openTime {
	height: 22px;
	padding-left: 24px;
	_padding-left: 0;
	line-height: 22px;
	position: relative;
	_position: static;
	padding-right: 8px
}

#IWSubwayLineInfo table {
	border-top: 1px solid #e5ebf3;
	line-height: 22px;
	height: 22px;
	width: 304px;
	white-space: nowrap;
	text-align: left;
	font-size: 12px;
	margin-bottom: 8px
}

#IWSubwayLineInfo table .to {
	padding-left: 8px
}

#IWSubwayLineInfo table.picExist {
	width: 224px
}

.SMSBtn1,
.SMSBtn1Hover,
.SMSBtn1KeyDown {
	position: relative;
	float: right;
	color: #166abe;
	cursor: pointer;
	height: 22px;
	line-height: 22px;
	width: 71px;
	margin-right: 5px;
	text-align: center;
	padding: 2px 6px;
	text-decoration: none;
	display: block
}

.SMSBtn1Hover,
.SMSBtn1KeyDown {
	text-decoration: underline
}

.sms_icon {
	width: 16px;
	height: 100%;
	float: left;
	background: url("../../../themes/default/img/icons.png?v=v5.1.52") no-repeat -235px -181px
}

.print_icon {
	width: 16px;
	height: 100%;
	float: left;
	background: url("../../../themes/default/img/icons.png?v=v5.1.52") no-repeat -324px -181px
}

.dyd_land_btn {
	display: block;
	width: 73px;
	height: 24px;
	position: absolute;
	top: 18px;
	left: 0;
	background: url("../../../themes/default/img/dyd_button.png?v=v5.1.52") no-repeat -109px 0
}

.dyd_land_btn:hover {
	background-position: -109px -25px
}

.dyd_title_container {
	margin-left: -35px;
	font-size: 16px;
	margin-bottom: 5px;
	text-decoration: none;
	color: #43629b;
	white-space: normal
}

.dyd_InfoWindowIndex {
	background-image: url("http://3glogo.gtimg.com/webmap_pc/v/themes/default/img/marker.png?v=v5.1.52?v=v2");
	height: 17px;
	line-height: 17px;
	overflow: hidden;
	float: left;
	width: 17px;
	margin-top: 1px;
	_margin-top: 0
}

.dyd_iwTitle {
	float: left;
	margin-left: 35px;
	margin-right: 4px;
	line-height: 20px;
	text-decoration: none;
	color: #43629b;
	white-space: normal
}

.dyd_iwTitle:hover {
	text-decoration: none
}

.dyd_PoiCollectBtn {
	height: 15px;
	line-height: 15px;
	position: relative;
	top: 2px;
	_top: -3px;
	*top: -4px;
	width: 15px;
	font-size: 0;
	cursor: pointer
}

.dyd_Infowin_background {
	position: relative;
	width: 308px;
	height: 126px;
	background: url("../../../themes/default/img/dyd_infowindow.jpg") no-repeat
}

.extendPhone {
	background: url("../../../themes/default/img/extendPhone.jpg?t=2") no-repeat;
	position: relative;
	width: 258px;
	height: 122px;
	display: block;
	cursor: pointer;
	float: left
}

.extendPhone .android {
	position: absolute;
	bottom: 20px;
	left: 8px;
	width: 85px;
	height: 30px;
	cursor: pointer
}

.extendPhone .ios {
	position: absolute;
	bottom: 20px;
	left: 102px;
	width: 85px;
	height: 30px;
	cursor: pointer;
	display: block
}

.priceRect {
	display: inline-block;
	width: 90px
}

.ad_slide {
	width: 258px;
	margin-bottom: 6px;
	display: block;
	overflow: hidden;
	position: relative;
	height: 135px
}

.ad_anim0 {
	position: relative;
	height: 122px;
	width: 258px;
	display: block;
	overflow: hidden
}

.ad_anim {
	height: 122px;
	width: 1132px;
	overflow: hidden
}

.ad_slide .ad_cell1,
.ad_slide .ad_cell2,
.ad_slide .ad_cell3,
.ad_slide .ad_cell4 {
	width: 258px;
	height: 122px;
	float: left
}

.ad_slide .ad_cell1 .qq_ad_content {
	background: url("../../../themes/default/img/topic/mobile_link.jpg") no-repeat;
	width: 258px;
	height: 122px
}

.ad_slide .ad_cell2 .qq_ad_content {
	background: url("../../../themes/default/img/topic/huitu.jpg") no-repeat;
	width: 258px;
	height: 122px
}

.ad_slide .ad_cell3 .qq_ad_content {
	background: url("../../../themes/default/img/topic/fog.jpg") no-repeat;
	width: 258px;
	height: 122px
}

.ad_slide .ad_cell4 .qq_ad_content {
	background: url("../../../themes/default/img/topic/mobile.jpg") no-repeat;
	width: 258px;
	height: 122px
}

.ad_cell1 a,
.ad_cell2 a,
.ad_cell3 a,
.ad_cell4 a {
	margin: 0;
	padding: 0
}

.ad_slide .switch {
	position: absolute;
	bottom: 0;
	left: 112px;
	height: 9px;
	line-height: 9px;
	overflow: hidden
}

.switch0 {
	background: url("../../../themes/default/img/topic/dota.png?v=v5.1.52") no-repeat 0 0;
	width: 7px;
	height: 9px;
	margin-left: 5px;
	float: left;
	cursor: pointer
}

.switch1 {
	background: url("../../../themes/default/img/topic/dota.png?v=v5.1.52") no-repeat -7px 0;
	margin-left: 5px;
	width: 7px;
	height: 9px;
	float: left;
	cursor: pointer
}

.cinemaState {
	position: relative;
	margin-top: 5px
}

.cinemaState span {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding: 0 5px;
	background: #88d318;
	color: #fff;
	margin-right: 5px
}

.cinemaState em {
	font-style: normal;
	color: red
}

.cinemaState .cinemaPay {
	display: block;
	width: 53px;
	height: 20px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background: url(../../../themes/default/img/bookBtn.png?v=v5.1.52) no-repeat left top;
	text-decoration: none;
	position: absolute;
	right: 5px;
	top: 0
}

.cinemaState .cinemaPay:hover {
	background: url(../../../themes/default/img/bookBtn.png?v=v5.1.52) no-repeat left -20px;
	text-decoration: none
}

.cinemaBook {
	border-top: 1px solid #f0f0f0;
	margin-top: 5px;
	padding-top: 5px
}

.cinemaBook span {
	display: inline-block;
	vertical-align: middle
}

.cinemaBook .cinemaName {
	width: 100px
}

.cinemaBook .cinemaType {
	width: 80px;
	color: #999
}

.cinemaBook .cinemaPrice {
	width: 80px;
	color: #3d6dcc
}

.cinemaBook .cinemaBookBtn {
	display: inline-block;
	width: 53px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: url(../../../themes/default/img/bookBtn.png?v=v5.1.52) no-repeat left top;
	color: #fff;
	text-decoration: none
}

.cinemaBook .cinemaBookBtn:hover {
	background: url(../../../themes/default/img/bookBtn.png?v=v5.1.52) no-repeat left -20px;
	text-decoration: none
}

.enableDragMask {
	position: absolute;
	top: 0;
	left: 0;
	display: none
}

.verify_content {
	padding: 20px
}

.verify_content>div {
	margin-top: 10px
}

.verify_content .v_code_title {
	color: #00a300
}

.verify_content #v_code_img {
	height: 53px
}

.verify_content #v_code_input_div,
#v_code_button {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	overflow: hidden
}

.verify_content #v_code_input_div {
	border: 1px solid #ccc
}

.verify_content #v_code_input_div #v_code_input {
	width: 130px
}

.verify_content #v_code_input {
	border: 0;
	outline: 0;
	height: 40px;
	line-height: 40px;
	width: 130px;
	font-size: 30px;
	text-indent: .5em
}

.verify_content #v_code_button {
	height: 42px;
	width: 60px;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	background: #2b9afd;
	color: #fff
}

.verify_content #v_code_button:hover {
	background: #148cf7
}

.verify_content #v_code_tip {
	color: #ec9100
}